 swagger: '2.0'
info:
  version: '0.2'
  title: 'Airtable Service Accesses'
  description: 'Airtable Service Accesses'

host: api.airtable.com
basePath: /v0/appwEHI5Sf4k6reAh

schemes:
  - https
#securityDefinitions:
#  basicAuth:
#    type: basic

## To apply Basic auth to the whole API:
#security:
#  - basicAuth: []

paths:
  /ServiceAccess:
    get:
      summary: Get Groceries List
      description: Get Groceries List
      tags:
        - 1. Airtable Groceries List
      parameters:
        - in: header
          name: Authorization
          type: string
          description: api key ('Bearer YOUR_API_KEY')
          required: true
        - in: query
          name: maxRecords
          type: string
          description: maximum number of records to retrieve
          required: true
        - in: query
          name: view
          type: string
          description: view type (e.g. 'List')
          required: true
      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              records:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    createdTime:
                      type: string
                    fields:
                      type: object
                      properties:
                        Item:
                          type: string
                        Purchased:
                          type: boolean               
                        Quantity:
                           type: string
                        Image:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                              width:
                                type: integer
                              height:
                                type: integer
                              url:
                                type: string
                              filename:
                                type: string
                              size:
                                type: integer
                              type:
                                type: string
                              thumbnails:
                                type: object
                                properties:
                                  small:
                                    type: object
                                    properties:
                                      url:
                                        type: string
                                      width:
                                        type: integer
                                      height:
                                        type: integer
                                  large:
                                    type: object
                                    properties:
                                      url:
                                        type: string
                                      width:
                                        type: integer
                                      height:
                                        type: integer
                                  full:
                                    type: object
                                    properties:
                                      url:
                                        type: string
                                      width:
                                        type: integer
                                      height:
                                        type: integer
                         
                  
        default:
          description: Failed Server Response
