swagger: '2.0'
info:
  version: '1.0'
  title: 'Flo System - Event and API Logger'
  description: 'Flo System - Event and API Logger'

host: x8ki-letl-twmt.n7.xano.io
basePath: /api:Yn8L5v8L

schemes:
  - https
#securityDefinitions:
#  basicAuth:
#    type: basic

## To apply Basic auth to the whole API:
#security:
#  - basicAuth: []

paths:
  /eventlog:
    post:
      summary: Flo System - Event and API Logger
      description: Flo System - Event and API Logger
      tags:
        - 1. Position Stack Geocoding
#       consumes:
#         - application/json
      parameters:
        - in: body
          name: body
          description: event log info
          required: true
          schema:
            type: object
            properties:
              eventLogString:
                type: string
              timestamp:
                type: string
            
            
            
#               data:
#                 type: object
#                 properties:
#                   eventLogString:
#                     type: string
#                   timestamp:
#                     type: string
             
                   
#               variables:
#                 type: object
#                 properties:
#                   eventLogString:
#                     type: string
#                   timestamp:
#                     type: string      
      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  type: object
                  properties:
                    timestamp:
                      type: string
                    userId:
                      type: string
                    eventType:
                      type: string
                    eventName:
                      type: string
                    eventId:
                      type: string
                    eventOutcomeString:
                      type: string
#                     eventOutcomeStructure:
#                       type: array
#                       items:
#                         type: object
#                         properties:
#                           conditionElement1:
#                             type: String
#                           conditionElement2:
#                             type: String
#                     eventConditions:
#                       type: array
#                       items:
#                         type: object
#                         properties:
#                           conditionElement1:
#                             type: String
#                           conditionElement2:
#                             type: String
                    
                    
                    associatedElementType:
                      type: string
                    associatedElementName:
                      type: string
                    associatedElementId:
                      type: string
                    associatedSceneName:
                      type: string
                    associatedCollectionName:
                      type: string
                    associatedSolutionName:
                      type: string
                    associatedSolutionVersion:
                      type: string
                    latitude:
                      type: string
                    longitude:
                      type: string


        default:
          description: Failed Server Response
