swagger: "2.0"
info:
  version: "0.1"
  title: "TAPI Direct"
  description: "TAPI's hosted MS NAV environment"

host: masterdev.scinetcloud.net:17348
basePath: /TAPI_100_DEV/ODataV4

schemes:
  - https
securityDefinitions:
  basicAuth:
    type: basic

# To apply Basic auth to the whole API:
security:
  - basicAuth: []

paths:
  /Company('{CompanyName}')/MNCheckMyVan:
    get:
      description: Get entities from related MNCheckMyVan
      summary: Get entities from related MNCheckMyVan
      tags:
        - Company
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: CompanyName
          in: path
          required: true
          description: "key: CompanyName"
          type: string

      responses:
        "200":
          description: Retrieved entities
          schema:
            title: Collection of MNCheckMyVan
            type: object
            properties:
              value:
                type: array
                items:
                  type: object
                  properties:
                    Resource_No:
                      type: string
                    Booking_Date:
                      type: string
                      format: date-time
                    Entry_No:
                      type: string
                    Completed:
                      type: string
                    All_Mandatory_Filled:
                      type: string
                    Answer_Group_No:
                      type: string
                    FieldControl:
                      type: string
                    ETag:
                      type: string

        "400":
          description: Error object
          schema:
            type: object
            properties:
              error:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                  target:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        target:
                          type: string
