swagger: '2.0'
info:
  version: '0.2'
  title: 'Airtable Service Accesses'
  description: 'Airtable Service Accesses'

host: api.airtable.com
basePath: /v0/appzr1xpisb5H9AgG

schemes:
  - https
#securityDefinitions:
#  basicAuth:
#    type: basic

## To apply Basic auth to the whole API:
#security:
#  - basicAuth: []

paths:
  /Services:
    get:
      summary: Get Service Accesses
      description: Get Service Accesses
      tags:
        - 1. Airtable Service Accesses
      parameters:
        - in: header
          name: Authorization
          type: string
          description: api key ('Bearer YOUR_API_KEY')
          required: true
      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              records:
                type: array
                items:
                  type: object
                  properties:
                    createdTime:
                      type: string
                    fields:
                      type: object
                      properties:
                        Name:
                          type: string
                        Key:
                          type: string
                        Username:
                          type: string
                        Password:
                          type: string
                    id:
                      type: string
                        
        default:
          description: Failed Server Response
