swagger: '2.0'
info:
  version: '0.2'
  title: 'RestCountries - countries info'
  description: 'RestCountries - countries info' https://restcountries.com/v3.1/name/France?fullText=true

host: restcountries.com
basePath: /v3.1

schemes:
  - https
#securityDefinitions:
#  basicAuth:
#    type: basic

## To apply Basic auth to the whole API:
#security:
#  - basicAuth: []

paths:
  /name:
    get:
      summary: Get country info by country name
      description: Get country info by country name
      tags:
        - 1. RestCountries - country info
      parameters:
        - in: path
          name: Country
          type: string
          description: country name (e.g. 'France')
          required: true
        - in: query
          name: fullText
          type: string
          description: whether full text is 
          default: true
          required: true
      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              records:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    createdTime:
                      type: string
                    fields:
                      type: object
                      properties:
                        Item:
                          type: string
                        Purchased:
                          type: boolean               
                        Quantity:
                           type: string
                        Image:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                              width:
                                type: integer
                              height:
                                type: integer
                              url:
                                type: string
                              filename:
                                type: string
                              size:
                                type: integer
                              type:
                                type: string
                              thumbnails:
                                type: object
                                properties:
                                  small:
                                    type: object
                                    properties:
                                      url:
                                        type: string
                                      width:
                                        type: integer
                                      height:
                                        type: integer
                                  large:
                                    type: object
                                    properties:
                                      url:
                                        type: string
                                      width:
                                        type: integer
                                      height:
                                        type: integer
                                  full:
                                    type: object
                                    properties:
                                      url:
                                        type: string
                                      width:
                                        type: integer
                                      height:
                                        type: integer
                         
                  
        default:
          description: Failed Server Response
