swagger: "2.0"
info:
  version: "0.1"
  title: "TAPI Direct"
  description: "TAPI's hosted MS NAV environment"

host: masterdev.scinetcloud.net:17348
basePath: /TAPI_100_DEV/ODataV4

schemes:
  - https
securityDefinitions:
  basicAuth:
    type: basic

# To apply Basic auth to the whole API:
security:
  - basicAuth: []

paths:
  /Company('{CompanyName}')/MNCheckMyVan:
    get:
      description: MNCheckMyVan
      summary: Get entities from related MNCheckMyVan
      tags:
        - Company
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: CompanyName
          in: path
          required: true
          description: "key: CompanyName"
          type: string
        - name: "$top"
          in: query
          description: Show only the first n items, see [Paging - Top](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptiontop)
          type: integer
        - name: "$skip"
          in: query
          description: Skip the first n items, see [Paging - Skip](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionskip)
          type: integer
        - name: "$search"
          in: query
          description: Search items by search phrases, see [Searching](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionsearch)
          type: string
        - name: "$filter"
          in: query
          description: Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)
          type: string
        - name: "$count"
          in: query
          description: Include count of items, see [Count](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptioncount)
          type: boolean
        - name: "$orderby"
          in: query
          description: Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)
          type: array
          items:
            type: string
        - name: "$select"
          in: query
          description: Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)
          type: array
          items:
            type: string

      responses:
        "200":
          description: Retrieved entities
          schema:
            type: object
            properties:
              value:
                type: array
                items:
                  type: object
                  properties:
                    Resource_No:
                      type: string
                    Booking_Date:
                      type: string
                      format: date-time
                    Entry_No:
                      type: string
                    Completed:
                      type: string
                    All_Mandatory_Filled:
                      type: string
                    Answer_Group_No:
                      type: string
                    FieldControl:
                      type: string
                    ETag:
                      type: string

        "400":
          description: Error object
          schema:
            type: object
            properties:
              error:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                  target:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        target:
                          type: string

  /Company('{CompanyName}')/MNEstimationBookings:
    get:
      description: MNEstimationBookings
      summary: Get today's bookings
      tags:
        - Company
      parameters:
        - name: CompanyName
          in: path
          required: true
          description: "key: CompanyName"
          type: string
        - name: "$top"
          in: query
          description: Show only the first n items, see [Paging - Top](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptiontop)
          type: integer
        - name: "$skip"
          in: query
          description: Skip the first n items, see [Paging - Skip](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionskip)
          type: integer
        - name: "$search"
          in: query
          description: Search items by search phrases, see [Searching](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionsearch)
          type: string
        - name: "$filter"
          in: query
          description: Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)
          type: string
        - name: "$count"
          in: query
          description: Include count of items, see [Count](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptioncount)
          type: boolean
        - name: "$orderby"
          in: query
          description: Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)
          type: array
          items:
            type: string
        - name: "$select"
          in: query
          description: Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)
          type: array
          items:
            type: string

      responses:
        "200":
          description: Retrieved bookings for today
          schema:
            type: object
            properties:
              value:
                type: array
                items:
                  type: object
                  properties:
                    Document_Type:
                      type: string
                    "No":
                      type: string
                    Salesperson_Code:
                      type: string
                    ERP_Store_Code:
                      type: string
                    ERP_Store_Name:
                      type: string
                    Starting_Date:
                      type: string
                      format: date-time
                    Starting_Time:
                      type: string
                    Customer_No:
                      type: string
                    Name:
                      type: string
                    Service_Order_Type:
                      type: string
                    Address:
                      type: string
                    Address_2:
                      type: string
                    City:
                      type: string
                    County:
                      type: string
                    Post_Code:
                      type: string
                    Phone_No:
                      type: string
                    Phone_No_2:
                      type: string
                    Status:
                      type: string
                    Order_Date:
                      type: string
                      format: date-time
                    Order_Time:
                      type: string
                    Priority:
                      type: string
                    Release_Status:
                      type: string
                    Shortcut_Dimension_1_Code:
                      type: string
                    Shortcut_Dimension_2_Code:
                      type: string
                    Notify_Customer:
                      type: string
                    Contract_No:
                      type: string
                    Document_Date:
                      type: string
                    Due_Date:
                      type: string
                      format: date-time
                    Shipping_Advice:
                      type: string
                    Warning_Status:
                      type: string
                    Allocated_Hours:
                      type: string
                      format: decimal
                    Expected_Finishing_Date:
                      type: string
                      format: date-time
                    Finishing_Time:
                      type: string
                    Finishing_Date:
                      type: string
                      format: date-time
                    Service_Time_Hours:
                      type: string
                      format: decimal
                    Answer_Group_No:
                      type: string
                      example: string
                    AddComment:
                      type: string
                      example: string
                    Picture1_Size:
                      type: integer
                      format: int32
                    Picture2_Size:
                      type: integer
                      format: int32
                    Picture3_Size:
                      type: integer
                      format: int32
                    Picture4_Size:
                      type: integer
                      format: int32
                    Picture5_Size:
                      type: integer
                      format: int32
                    Signature_Size:
                      type: integer
                      format: int32
                    ResourceFilter:
                      type: string
                    FieldControl:
                      type: string
                    IsQuestionnaireComplete:
                      type: boolean
                    CurrentDateTime:
                      type: string
                      format: date-time
                    Date_Filter:
                      type: string
                    Resource_Filter:
                      type: string
                    Resource_Group_Filter:
                      type: string
                    ETag:
                      type: string

        "400":
          description: Error object
          schema:
            type: object
            properties:
              error:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                  target:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        target:
                          type: string

  /Company('{CompanyName}')/MNEstimationBookingTomorrow:
    get:
      description: MNEstimationBookingTomorrow
      summary: Get tomorrow's bookings
      tags:
        - Company
      parameters:
        - name: CompanyName
          in: path
          required: true
          description: "key: CompanyName"
          type: string
        - name: "$top"
          in: query
          description: Show only the first n items, see [Paging - Top](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptiontop)
          type: integer
        - name: "$skip"
          in: query
          description: Skip the first n items, see [Paging - Skip](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionskip)
          type: integer
        - name: "$search"
          in: query
          description: Search items by search phrases, see [Searching](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionsearch)
          type: string
        - name: "$filter"
          in: query
          description: Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)
          type: string
        - name: "$count"
          in: query
          description: Include count of items, see [Count](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptioncount)
          type: boolean
        - name: "$orderby"
          in: query
          description: Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)
          type: array
          items:
            type: string
        - name: "$select"
          in: query
          description: Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)
          type: array
          items:
            type: string

      responses:
        "200":
          description: Retrieved bookings for tomorrow
          schema:
            type: object
            properties:
              value:
                type: array
                items:
                  type: object
                  properties:
                    Document_Type:
                      type: string
                    "No":
                      type: string
                    Starting_Date:
                      type: string
                      format: date-time
                    Starting_Time:
                      type: string
                    Customer_No:
                      type: string
                    Name:
                      type: string
                    Address:
                      type: string
                    Address_2:
                      type: string
                    City:
                      type: string
                    County:
                      type: string
                    Post_Code:
                      type: string
                    Phone_No:
                      type: string
                    Phone_No_2:
                      type: string
                    Status:
                      type: string
                    Order_Date:
                      type: string
                      format: date-time
                    Order_Time:
                      type: string
                    Priority:
                      type: string
                    Release_Status:
                      type: string
                    Shortcut_Dimension_1_Code:
                      type: string
                    Shortcut_Dimension_2_Code:
                      type: string
                    Notify_Customer:
                      type: string
                    Service_Order_Type:
                      type: string
                    Contract_No:
                      type: string
                    Document_Date:
                      type: string
                      format: date-time
                    Due_Date:
                      type: string
                      format: date-time
                    Shipping_Advice:
                      type: string
                    Warning_Status:
                      type: string
                    Allocated_Hours:
                      type: string
                      format: decimal
                    Expected_Finishing_Date:
                      type: string
                      format: date-time
                    Finishing_Time:
                      type: string
                    Finishing_Date:
                      type: string
                      format: date-time
                    Service_Time_Hours:
                      type: string
                      format: decimal
                    FieldControl:
                      type: string
                    Date_Filter:
                      type: string
                    Resource_Filter:
                      type: string
                    Resource_Group_Filter:
                      type: string
                    ETag:
                      type: string

        "400":
          description: Error object
          schema:
            type: object
            properties:
              error:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                  target:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        target:
                          type: string

  /Company('{CompanyName}')/SNAnswer:
    get:
      description: SNAnswer
      summary: Get the questions for this Answer Group
      tags:
        - Company
      parameters:
        - name: CompanyName
          in: path
          required: true
          description: "key: CompanyName"
          type: string
        - name: "$top"
          in: query
          description: Show only the first n items, see [Paging - Top](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptiontop)
          type: integer
        - name: "$skip"
          in: query
          description: Skip the first n items, see [Paging - Skip](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionskip)
          type: integer
        - name: "$search"
          in: query
          description: Search items by search phrases, see [Searching](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionsearch)
          type: string
        - name: "$filter"
          in: query
          description: Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)
          type: string
        - name: "$count"
          in: query
          description: Include count of items, see [Count](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptioncount)
          type: boolean
        - name: "$orderby"
          in: query
          description: Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)
          type: array
          items:
            type: string
        - name: "$select"
          in: query
          description: Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)
          type: array
          items:
            type: string

      responses:
        "200":
          description: Retrieved entities
          schema:
            type: object
            properties:
              value:
                type: array
                items:
                  type: object
                  properties:
                    Answer_Group_No:
                      type: string
                    Question_No:
                      type: string
                    Question_Description:
                      type: string
                    Position:
                      type: integer
                      format: int32
                    Data_Type:
                      type: string
                    Mandatory:
                      type: boolean
                    Answer:
                      type: string
                    Answer_Integer:
                      type: integer
                      format: int32
                    Answer_Decimal:
                      type: number
                      format: decimal
                    Answer_Date:
                      type: string
                      format: date-time
                    Answer_DT:
                      type: string
                      format: date-time
                    Answer_Time:
                      type: string
                    Answer_Option:
                      type: string
                    Valid_Parent_Answer_Conditions:
                      type: boolean
                    FieldControl:
                      type: string
                      example: string
                    OnlineFieldControl:
                      type: string
                      example: string
                    HasRelation:
                      type: boolean
                    Recalculate:
                      type: boolean
                    Capture_Signature:
                      type: boolean
                    Signature:
                      type: boolean
                    Signature_Size:
                      type: integer
                      format: int32
                    ETag:
                      type: string

        "400":
          description: Error object
          schema:
            type: object
            properties:
              error:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                  target:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        target:
                          type: string
