swagger: '2.0'
info:
  version: '0.2'
  title: 'NASA Curiousity Mars Rover'
  description: 'NASA Curiousity Mars Rover'

host: api.nasa.gov
basePath: /mars-photos/api/v1/rovers/curiosity

schemes:
  - https
#securityDefinitions:
#  basicAuth:
#    type: basic

## To apply Basic auth to the whole API:
#security:
#  - basicAuth: []

paths:
  /photos:
    get:
      summary: Get Curiousity Mars Rover photos
      description: Get Curiousity Mars Rover photos
      tags:
        - 1. NASA Mars Rover
      parameters:
        - in: query
          name: api_key
          type: string
          description: api key
          required: true
        - in: query
          name: sol
          type: string
          description: sol
          required: true
      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: integer
              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: date-time
              requestReceivedTime:
                type: string
                format: date-time
              maxAllowedRequestTime:
                type: integer
              requestProcessingTime:
                type: number
                format: double

        default:
          description: Failed Server Response
