swagger: "2.0"
info:
  version: "0.1"
  title: "TAPI Direct"
  description: "TAPI's hosted MS NAV environment"

host: masterdev.scinetcloud.net:17348
basePath: /TAPI_100_DEV/ODataV4

schemes:
  - https
securityDefinitions:
  basicAuth:
    type: basic

# To apply Basic auth to the whole API:
security:
  - basicAuth: []

paths:
  /Company('{CompanyName}')/MNCheckMyVan:
    get:
      description: MNCheckMyVan
      summary: Get entities from related MNCheckMyVan
      tags:
        - Company
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: CompanyName
          in: path
          required: true
          description: "key: CompanyName"
          type: string
        - name: "$top"
          in: query
          description: Show only the first n items, see [Paging - Top](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptiontop)
          type: integer
        - name: "$skip"
          in: query
          description: Skip the first n items, see [Paging - Skip](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionskip)
          type: integer
        - name: "$search"
          in: query
          description: Search items by search phrases, see [Searching](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionsearch)
          type: string
        - name: "$filter"
          in: query
          description: Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)
          type: string
        - name: "$count"
          in: query
          description: Include count of items, see [Count](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptioncount)
          type: boolean
        - name: "$orderby"
          in: query
          description: Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)
          type: array
          items:
            type: string
        - name: "$select"
          in: query
          description: Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)
          type: array
          items:
            type: string

      responses:
        "200":
          description: Retrieved entities
          schema:
            type: object
            properties:
              value:
                type: array
                items:
                  type: object
                  properties:
                    Resource_No:
                      type: string
                    Booking_Date:
                      type: string
                      format: date-time
                    Entry_No:
                      type: string
                    Completed:
                      type: string
                    All_Mandatory_Filled:
                      type: string
                    Answer_Group_No:
                      type: string
                    FieldControl:
                      type: string
                    ETag:
                      type: string

        "400":
          description: Error object
          schema:
            type: object
            properties:
              error:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                  target:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        target:
                          type: string
