swagger: '2.0'
info:
  version: "0.2"
  title: 'ELKUMULOS'
  description: 'ELKUMULOS'

host: api.kumulos.com
basePath: /b2.2/5b95bd4f-1ea1-4e20-9222-26a19bd19bdd

x-flopro-kumulosrpc: true

schemes:
  - https
securityDefinitions:
  basicAuth:
    type: basic

# To apply Basic auth to the whole API:
security:
  - basicAuth: []

paths:
  /owMarkBasketPaid.json/:
    post:
      summary: Marks all unpaid items in the basket as paid
      description: Marks all unpaid items in the basket as paid
      tags:
        - 1. Elite Owner App
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        - in: formData
          name: params[customerNo]
          type: string
          description: customerNo
          required: true

      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: integer
              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: date-time
              requestReceivedTime:
                type: string
                format: date-time
              maxAllowedRequestTime:
                type: integer
              requestProcessingTime:
                type: number
                format: double

        default:
          description: Failed Server Response


  /owMarkCollectionPaid.json/:
    post:
      summary: Marks all unpaid items in the collection as paid
      description: Marks all unpaid items in the collection as paid
      tags:
        - 1. Elite Owner App
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        - in: formData
          name: params[customerNo]
          type: string
          description: customerNo
          required: true

      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: integer
              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: date-time
              requestReceivedTime:
                type: string
                format: date-time
              maxAllowedRequestTime:
                type: integer
              requestProcessingTime:
                type: number
                format: double

        default:
          description: Failed Server Response


  /owGetCollection.json/:
    post:
      summary: Get All The Items In The Invoice Collection
      description: Get All The Items In The Invoice Collection
      tags:
        - 1. Elite Owner App
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        - in: formData
          name: params[customerNo]
          type: string
          description: customerNo
          required: true

      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: object
                properties:
                  total:
                    description: The total cost of the items in the collection
                    type: number
                    format: double
                  description:
                    type: string
                    description: A concatenation of the invoice numbers in this collection
                  totalDisplay:
                    type: string
                    description: Currency prefixed total for display
                  invoiceCount:
                    description: The total number of individual items in the basket
                    type: integer
                  contents:
                    type: array
                    items:
                      type: object
                      properties:
                        clientIdentifier:
                          type: string
                        customerNo:
                          type: string
                        invoiceNumber:
                          type: string
                        collectionID:
                          type: integer
                        totalAmount:
                          type: number
                          format: double
                        totalAmountDisplay:
                          type: string
                          description: Currency prefixed line total for display
                        toPayAmount:
                          type: number
                          format: double
                        toPayAmountDisplay:
                          type: string
                          description: Currency prefixed to pay total for display
                        description:
                          type: string
                        remainingAmount:
                          type: number
                          format: double
                        remainingAmountDisplay:
                          type: string
                        paid:
                          type: boolean

              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: date-time
              requestReceivedTime:
                type: string
                format: date-time
              maxAllowedRequestTime:
                type: integer
              requestProcessingTime:
                type: number
                format: double

        default:
          description: Failed Server Response


  /owGetBasket.json/:
    post:
      summary: Get All The Items In The Shopping Basket
      description: Get All The Items In The Shopping Basket
      tags:
        - 1. Elite Owner App
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        - in: formData
          name: params[customerNo]
          type: string
          description: customerNo
          required: true

      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: object
                properties:
                  total:
                    description: The total cost of the items in the basket
                    type: number
                    format: double
                  totalDisplay:
                    type: string
                    description: Currency prefixed total for display
                  itemCount:
                    description: The total number of individual items in the basket
                    type: integer
                  lineCount:
                    description: The total number of line items in the basket
                    type: integer
                  contents:
                    type: array
                    items:
                      type: object
                      properties:
                        clientIdentifier:
                          type: string
                        customerNo:
                          type: string
                        itemNo:
                          type: string
                        itemName:
                          type: string
                        description:
                          type: string
                        quantity:
                          type: integer
                        unitPrice:
                          type: number
                        unitPriceDisplay:
                          type: string
                          description: Currency prefixed unit price for display
                        basketID:
                          type: integer
                        lineTotal:
                          type: number
                          format: double
                        lineTotalDisplay:
                          type: string
                          description: Currency prefixed line total for display
                        paid:
                          type: boolean

              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: date-time
              requestReceivedTime:
                type: string
                format: date-time
              maxAllowedRequestTime:
                type: integer
              requestProcessingTime:
                type: number
                format: double

        default:
          description: Failed Server Response


  /owAddToBasket.json/:
    post:
      summary: Add A Line Item To The Shopping Basket
      description: Add A Line Item To The Shopping Basket
      tags:
        - 1. Elite Owner App
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        - in: formData
          name: params[customerNo]
          type: string
          description: customerNo
          required: true
        - in: formData
          name: params[itemNo]
          type: string
          description: itemNo
          required: true
        - in: formData
          name: params[itemName]
          type: string
          description: itemName
          required: true
        - in: formData
          name: params[description]
          type: string
          description: description
          required: true
        - in: formData
          name: params[quantity]
          type: integer
          description: quantity
          required: true
        - in: formData
          name: params[unitPrice]
          type: number
          format: double
          description: unitPrice
          required: true

      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                description: The basketID of the record added or updated
                type: integer
              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: date-time
              requestReceivedTime:
                type: string
                format: date-time
              maxAllowedRequestTime:
                type: integer
              requestProcessingTime:
                type: number
                format: double

        default:
          description: Failed Server Response


  /owAddToCollection.json/:
    post:
      summary: Add and invoice to the collection
      description: Add and invoice to the collection
      tags:
        - 1. Elite Owner App
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        - in: formData
          name: params[customerNo]
          type: string
          description: customerNo
          required: true
        - in: formData
          name: params[toPayAmount]
          type: double
          description: toPayAmount
          required: true
        - in: formData
          name: params[invoiceAmount]
          type: double
          description: invoiceAmount
          required: true
        - in: formData
          name: params[invoiceNumber]
          type: string
          description: invoiceNumber
          required: true
        - in: formData
          name: params[description]
          type: string
          description: description
          required: true
        - in: formData
          name: params[remainingAmount]
          type: string
          description: remainingAmount
          required: true

      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                description: The collectionID of the record added or updated
                type: integer
              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: date-time
              requestReceivedTime:
                type: string
                format: date-time
              maxAllowedRequestTime:
                type: integer
              requestProcessingTime:
                type: number
                format: double

        default:
          description: Failed Server Response


  /owRemoveFromBasket.json/:
    post:
      summary: Remove A Line Item From The Shopping Basket
      description: Remove A Line Item From The Shopping Basket
      tags:
        - 1. Elite Owner App
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        - in: formData
          name: params[customerNo]
          type: string
          description: customerNo
          required: true
        - in: formData
          name: params[basketID]
          type: integer
          description: basketID
          required: true

      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                description: The basketID removed (-1 if nothing changed)
                type: integer
              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: date-time
              requestReceivedTime:
                type: string
                format: date-time
              maxAllowedRequestTime:
                type: integer
              requestProcessingTime:
                type: number
                format: double

        default:
          description: Failed Server Response


  /owRemoveFromCollection.json/:
    post:
      summary: Remove a line item from the collection
      description: Remove a line item from the collection
      tags:
        - 1. Elite Owner App
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        - in: formData
          name: params[customerNo]
          type: string
          description: customerNo
          required: true
        - in: formData
          name: params[collectionID]
          type: integer
          description: collectionID
          required: true

      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                description: The collectionID removed (-1 if nothing changed)
                type: integer
              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: date-time
              requestReceivedTime:
                type: string
                format: date-time
              maxAllowedRequestTime:
                type: integer
              requestProcessingTime:
                type: number
                format: double

        default:
          description: Failed Server Response


  /owUpdateBasketQuantity.json/:
    post:
      summary: Update A Quantity In The Shopping Basket
      description: Update A Quantity In The Shopping Basket
      tags:
        - 1. Elite Owner App
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        - in: formData
          name: params[customerNo]
          type: string
          description: customerNo
          required: true
        - in: formData
          name: params[basketID]
          type: integer
          description: basketID
          required: true
        - in: formData
          name: params[newQuantity]
          type: integer
          description: newQuantity
          required: true

      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                description: The basketID updated (-1 if nothing changed)
                type: integer
              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: date-time
              requestReceivedTime:
                type: string
                format: date-time
              maxAllowedRequestTime:
                type: integer
              requestProcessingTime:
                type: number
                format: double

        default:
          description: Failed Server Response


  /owUpdateInvoiceToPayAmount.json/:
    post:
      summary: Update an invoice payment amount in a collection
      description: Update an invoice payment amount in a collection
      tags:
        - 1. Elite Owner App
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        - in: formData
          name: params[customerNo]
          type: string
          description: customerNo
          required: true
        - in: formData
          name: params[collectionID]
          type: integer
          description: collectionID
          required: true
        - in: formData
          name: params[newAmountToPay]
          type: integer
          description: newAmountToPay
          required: true

      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                description: The collectionID updated (-1 if nothing changed)
                type: integer
              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: date-time
              requestReceivedTime:
                type: string
                format: date-time
              maxAllowedRequestTime:
                type: integer
              requestProcessingTime:
                type: number
                format: double

        default:
          description: Failed Server Response


  /owEmptyBasket.json/:
    post:
      summary: Empty The Shopping Basket
      description: Empty The Shopping Basket
      tags:
        - 1. Elite Owner App
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        - in: formData
          name: params[customerNo]
          type: string
          description: customerNo
          required: true

      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                description: The number of line items removed from the basket
                type: integer
              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: date-time
              requestReceivedTime:
                type: string
                format: date-time
              maxAllowedRequestTime:
                type: integer
              requestProcessingTime:
                type: number
                format: double

        default:
          description: Failed Server Response


  /owEmptyCollection.json/:
    post:
      summary: Empty the collection
      description: Empty the collection
      tags:
        - 1. Elite Owner App
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        - in: formData
          name: params[customerNo]
          type: string
          description: customerNo
          required: true

      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                description: The number of line items removed from the collection
                type: integer
              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: date-time
              requestReceivedTime:
                type: string
                format: date-time
              maxAllowedRequestTime:
                type: integer
              requestProcessingTime:
                type: number
                format: double

        default:
          description: Failed Server Response


  /owGetSettings.json/:
    post:
      summary: Get Settings
      description: Get Settings
      tags:
        - 1. Elite Owner App
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        - in: formData
          name: params[customerNo]
          type: string
          description: customerNo
          required: true

      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: object
                properties:
                  getSettings_Result:
                    type: object
                    properties:
                      return_value:
                        type: object
                        properties:
                          IsError:
                            type: boolean
                          ErrorCode:
                            type: string
                          ErrorMessage:
                            type: string
                          IsAllowOwner:
                            type: boolean
                          IsAllowViewOwner:
                            type: boolean
                          IsAllowUpdateOwner:
                            type: boolean
                          IsAllowViewContactPreferences:
                            type: boolean
                          IsAllowUpdateContactPreference:
                            type: boolean
                          IsAllowFinance:
                            type: boolean
                          IsAllowViewInvoices:
                            type: boolean
                          IsAllowViewBalance:
                            type: boolean
                          IsAllowPrintInvoice:
                            type: boolean
                          IsAllowPayInvoice:
                            type: boolean
                          IsAllowPrintStatement:
                            type: boolean
                          IsAllowStore:
                            type: boolean
                          IsAllowViewStoreItems:
                            type: boolean
                          IsAllowBuyStoreItems:
                            type: boolean
                          IsAllowViewStoreReceipts:
                            type: boolean
                          IsAllowPrintStoreReceipts:
                            type: boolean
                          IsAllowJobs:
                            type: boolean
                          IsAllowViewJobs:
                            type: boolean
                          IsAllowCreateJob:
                            type: boolean
                          IsAllowCreateLead:
                            type: boolean

              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: date-time
              requestReceivedTime:
                type: string
                format: date-time
              maxAllowedRequestTime:
                type: integer
              requestProcessingTime:
                type: number
                format: double

        default:
          description: Failed Server Response

  /owGetDashboard.json/:
    post:
      summary: Get Dashboard
      description: Get Dashboard
      tags:
        - 1. Elite Owner App
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        - in: formData
          name: params[customerNo]
          type: string
          description: customerNo
          required: true

      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: object
                properties:
                  getDashboard_Result:
                    type: object
                    properties:
                      return_value:
                        type: object
                        properties:
                          IsError:
                            type: boolean
                          ErrorCode:
                            type: string
                          ErrorMessage:
                            type: string
                          OutstandingBalance:
                            type: number
                            format: double
                          OutstandingBalanceDisplay:
                            type: string
                            description: Currency prefixed balance for display
                          ActiveJobs:
                            type: integer

        default:
          description: Failed Server Response

  /owGetAccountDetails.json/:
    post:
      summary: Get Account Details
      description: Get Account Details
      tags:
        - 1. Elite Owner App
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        - in: formData
          name: params[customerNo]
          type: string
          description: customerNo
          required: true

      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: object
                properties:
                  getAccountDetails_Result:
                    type: object
                    properties:
                      return_value:
                        type: object
                        properties:
                          IsError:
                            type: boolean
                          ErrorCode:
                            type: string
                          ErrorMessage:
                            type: string
                          CustomerNo:
                            type: string
                          Name:
                            type: string
                          Address:
                            type: string
                          Address2:
                            type: string
                          City:
                            type: string
                          County:
                            type: string
                          PostCode:
                            type: string
                          PhoneNo:
                            type: string
                          MobilePhoneNo:
                            type: string
                          Email:
                            type: string
                          DealNo:
                            type: string
                          ParkCode:
                            type: string
                          ParkName:
                            type: string
                          Plot:
                            type: string
                          UnitDescription:
                            type: string
                          UnitManufacturerCode:
                            type: string
                          UnitManufacturerName:
                            type: string
                          UnitModelCode:
                            type: string
                          UnitModelName:
                            type: string
                          UnitLength:
                            type: integer
                          UnitWidth:
                            type: integer
                          UnitYear:
                            type: integer
                          UnitNoOfBedrooms:
                            type: integer
                          UnitChassisNo:
                            type: integer
                          UnitSerialNo:
                            type: integer
                          AddressCombo:
                            type: string
                          AddressCombo2:
                            type: string

        default:
          description: Failed Server Response


  /owGetContactPreferences.json/:
    post:
      summary: Get Contact Preferences
      description: Get Contact Preferences
      tags:
        - 1. Elite Owner App
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        - in: formData
          name: params[customerNo]
          type: string
          description: customerNo
          required: true

      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: object
                properties:
                  getContactPreferences_Result:
                    type: object
                    properties:
                      return_value:
                        type: object
                        properties:
                          IsError:
                            type: boolean
                          ErrorCode:
                            type: string
                          ErrorMessage:
                            type: string
                          ContactPreferenceCount:
                            type: integer
                          ContactPreferences:
                            type: array
                            items:
                              type: object
                              properties:
                                ProductCode:
                                  type: string
                                TypeCode:
                                  type: string
                                ProductDescription:
                                  type: string
                                TypeDescription:
                                  type: string
                                Opt-In:
                                  type: boolean

        default:
          description: Failed Server Response


  /owUpdateContactPreferences.json/:
    post:
      summary: Update contact preferences
      description: Update contact preferences
      tags:
        - 1. Elite Owner App
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        - in: formData
          name: params[customerNo]
          type: string
          description: customerNo
          required: true
        - in: formData
          name: params[contactPreferences]
          description: contactPreferences
          required: true
          type: array
          items:
            type: object
            properties:
              ProductCode:
                type: string
              TypeCode:
                type: string
              Opt-In:
                type: boolean

      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: object
                properties:
                  updateContactPreferences_Result:
                    type: object
                    properties:
                      return_value:
                        type: object
                        properties:
                          IsError:
                            type: boolean
                          ErrorCode:
                            type: string
                          ErrorMessage:
                            type: string

        default:
          description: Failed Server Response


  /owGetFinanceDetails.json/:
    post:
      summary: Get Financial Details
      description: Get Financial Details
      tags:
        - 1. Elite Owner App
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        - in: formData
          name: params[customerNo]
          type: string
          description: customerNo
          required: true

      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: object
                properties:
                  getFinanceDetails_Result:
                    type: object
                    properties:
                      return_value:
                        type: object
                        properties:
                          IsError:
                            type: boolean
                          ErrorCode:
                            type: string
                          ErrorMessage:
                            type: string
                          Balance:
                            type: number
                            format: double
                          BalanceDisplay:
                            type: string
                            description: Currency prefixed balance for display
                          AmountPending:
                            type: number
                            format: double
                          AmountPendingDisplay:
                            type: string
                            description: Currency prefixed amount pending for display
                          InvoiceCount:
                            type: integer
                          Invoices:
                            type: array
                            items:
                              type: object
                              properties:
                                No:
                                  type: string
                                Description:
                                  type: string
                                DocumentDate:
                                  type: string
                                  format: date-time
                                DueDate:
                                  type: string
                                  format: date-time
                                Amount:
                                  type: number
                                  format: double
                                AmountDisplay:
                                  type: string
                                  description: Currency prefixed amount for display
                                RemainingAmount:
                                  type: number
                                  format: double
                                RemainingAmountDisplay:
                                  type: string
                                  description: Currency prefixed remaining amount for display

        default:
          description: Failed Server Response


  /owPayInvoice.json/:
    post:
      summary: Record the payment of invoices
      description: Record the payment of invoices
      tags:
        - 1. Elite Owner App
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        - in: formData
          name: params[customerNo]
          type: string
          description: customerNo
          required: true
        - in: formData
          name: params[paymentReference]
          type: string
          description: paymentReference
          required: true
        - in: formData
          name: params[invoice]
          description: invoice
          required: true
          type: array
          items:
            type: object
            properties:
              No:
                type: string
              Amount:
                type: number
                format: double

      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: object
                properties:
                  payInvoice_Result:
                    type: object
                    properties:
                      return_value:
                        type: object
                        properties:
                          IsError:
                            type: boolean
                          ErrorCode:
                            type: string
                          ErrorMessage:
                            type: string
                          ReceiptNo:
                            type: string

        default:
          description: Failed Server Response


  /owUpdateAccountDetails.json/:
    post:
      summary: Update owner details
      description: Update owner details
      tags:
        - 1. Elite Owner App
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        - in: formData
          name: params[customerNo]
          type: string
          description: customerNo
          required: true
        - in: formData
          name: params[name]
          type: string
          description: name
          required: true
        - in: formData
          name: params[address]
          type: string
          description: address
          required: true
        - in: formData
          name: params[address2]
          type: string
          description: address2
          required: true
        - in: formData
          name: params[city]
          type: string
          description: city
          required: true
        - in: formData
          name: params[county]
          type: string
          description: county
          required: true
        - in: formData
          name: params[postCode]
          type: string
          description: postCode
          required: true
        - in: formData
          name: params[phoneNo]
          type: string
          description: phoneNo
          required: true
        - in: formData
          name: params[mobilePhoneNo]
          type: string
          description: mobilePhoneNo
          required: true
        - in: formData
          name: params[email]
          type: string
          description: email
          required: true

      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: object
                properties:
                  updateAccountDetails_Result:
                    type: object
                    properties:
                      return_value:
                        type: object
                        properties:
                          IsError:
                            type: boolean
                          ErrorCode:
                            type: string
                          ErrorMessage:
                            type: string

        default:
          description: Failed Server Response


  /owGetStoreItems.json/:
    post:
      summary: Get Store Items
      description: Get Store Items
      tags:
        - 1. Elite Owner App
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        - in: formData
          name: params[customerNo]
          type: string
          description: customerNo
          required: true

      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: object
                properties:
                  getStoreItems_Result:
                    type: object
                    properties:
                      return_value:
                        type: object
                        properties:
                          IsError:
                            type: boolean
                          ErrorCode:
                            type: string
                          ErrorMessage:
                            type: string
                          StoreItemCount:
                            type: integer
                          StoreItems:
                            type: array
                            items:
                              type: object
                              properties:
                                No:
                                  type: string
                                Name:
                                  type: string
                                Description:
                                  type: string
                                MaxQuantity:
                                  type: integer
                                UnitPrice:
                                  type: number
                                  format: double
                                UnitPriceDisplay:
                                  type: string
                                  description: Currency prefixed unit price for display

        default:
          description: Failed Server Response


  /owBuyStoreItems.json/:
    post:
      summary: Record purchases from the store
      description: Record purchases from the store
      tags:
        - 1. Elite Owner App
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        - in: formData
          name: params[customerNo]
          type: string
          description: customerNo
          required: true
        - in: formData
          name: params[paymentReference]
          type: string
          description: paymentReference
          required: true
        - in: formData
          name: params[deliveryDate]
          type: string
          description: deliveryDate
          required: true
        - in: formData
          name: params[deliveryNotes]
          type: string
          description: deliveryNotes
          required: true
        - in: formData
          name: params[storeItems]
          description: storeItems
          required: true
          type: array
          items:
            type: object
            properties:
              No:
                type: integer
              Quantity:
                type: integer
              Amount:
                type: number
                format: double

      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: object
                properties:
                  buyStoreItems_Result:
                    type: object
                    properties:
                      return_value:
                        type: object
                        properties:
                          IsError:
                            type: boolean
                          ErrorCode:
                            type: string
                          ErrorMessage:
                            type: string
                          ReceiptNo:
                            type: string

        default:
          description: Failed Server Response


  /owGetStoreReceipts.json/:
    post:
      summary: Get Store Receipts
      description: Get Store Receipts
      tags:
        - 1. Elite Owner App
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        - in: formData
          name: params[customerNo]
          type: string
          description: customerNo
          required: true

      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: object
                properties:
                  getStoreReceipts_Result:
                    type: object
                    properties:
                      return_value:
                        type: object
                        properties:
                          IsError:
                            type: boolean
                          ErrorCode:
                            type: string
                          ErrorMessage:
                            type: string
                          ReceiptCount:
                            type: integer
                          Receipts:
                            type: array
                            items:
                              type: object
                              properties:
                                ReceiptNo:
                                  type: string
                                LineNo:
                                  type: integer
                                DeliveryDate:
                                  type: string
                                  format: date-time
                                DeliveryNote:
                                  type: string
                                Quantity:
                                  type: integer
                                Amount:
                                  type: number
                                  format: double
                                AmountDisplay:
                                  type: string
                                  description: Currency prefixed amount for display
                                No:
                                  type: string
                                DeliveryStatus:
                                  type: string
                                Description:
                                  type: string


        default:
          description: Failed Server Response

  /owGetJobs.json/:
    post:
      summary: Get Jobs
      description: Get Jobs
      tags:
        - 1. Elite Owner App
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        - in: formData
          name: params[customerNo]
          type: string
          description: customerNo
          required: true

      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: object
                properties:
                  getJobs_Result:
                    type: object
                    properties:
                      return_value:
                        type: object
                        properties:
                          IsError:
                            type: boolean
                          ErrorCode:
                            type: string
                          ErrorMessage:
                            type: string
                          JobCount:
                            type: integer
                          Jobs:
                            type: array
                            items:
                              type: object
                              properties:
                                JobNo:
                                  type: string
                                Description:
                                  type: string
                                Status:
                                  type: string
                                StatusDate:
                                  type: string
                                  format: date-time
                                AddedDate:
                                  type: string
                                  format: date-time
                                CompletedDate:
                                  type: string
                                  format: date-time
                                CancelledDate:
                                  type: string
                                  format: date-time

        default:
          description: Failed Server Response


  /owCreateJob.json/:
    post:
      summary: Create a job
      description: Create a job
      tags:
        - 1. Elite Owner App
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        - in: formData
          name: params[customerNo]
          type: string
          description: customerNo
          required: true
        - in: formData
          name: params[description]
          type: string
          description: description
          required: true
        - in: formData
          name: params[permissionToEnterUnit]
          type: boolean
          description: permissionToEnterUnit
          required: true

      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: object
                properties:
                  createJob_Result:
                    type: object
                    properties:
                      return_value:
                        type: object
                        properties:
                          IsError:
                            type: boolean
                          ErrorCode:
                            type: string
                          ErrorMessage:
                            type: string
                          JobNo:
                            type: string

        default:
          description: Failed Server Response


  /owCreateLead.json/:
    post:
      summary: Create a lead
      description: Create a lead
      tags:
        - 1. Elite Owner App
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        - in: formData
          name: params[customerNo]
          type: string
          description: customerNo
          required: true
        - in: formData
          name: params[leadTypeCode]
          type: string
          description: leadTypeCode
          required: true
        - in: formData
          name: params[comments]
          type: string
          description: comments
          required: true
        - in: formData
          name: params[callBackDateTime]
          type: string
          format: date-time
          description: callBackDateTime
          required: true

      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: object
                properties:
                  createJob_Result:
                    type: object
                    properties:
                      return_value:
                        type: object
                        properties:
                          IsError:
                            type: boolean
                          ErrorCode:
                            type: string
                          ErrorMessage:
                            type: string

        default:
          description: Failed Server Response


  /owGetContactInformation.json/:
    post:
      summary: Get Contact Information
      description: Get Contact Information
      tags:
        - 1. Elite Owner App
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        - in: formData
          name: params[customerNo]
          type: string
          description: customerNo
          required: true

      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: object
                properties:
                  getContactInformation_Result:
                    type: object
                    properties:
                      return_value:
                        type: object
                        properties:
                          IsError:
                            type: boolean
                          ErrorCode:
                            type: string
                          ErrorMessage:
                            type: string
                          ParkPhoneNo:
                            type: string
                          ParkEmail:
                            type: string
                          FinancePhoneNo:
                            type: string
                          FinanceEmail:
                            type: string
                          LeadTypeCount:
                            type: integer
                          LeadTypes:
                            type: array
                            items:
                              type: object
                              properties:
                                Code:
                                  type: string
                                Description:
                                  type: string

        default:
          description: Failed Server Response



  /umLogout.json/:
    post:
      summary: Logout Remove InstallID against Logged in User
      description: Remove InstallID against Logged in User
      tags:
        - 0. User Management
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        - in: formData
          name: params[installID]
          type: string
          description: Notification Install ID
          required: true

      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: integer
              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: date-time
              requestReceivedTime:
                type: string
                format: date-time
              maxAllowedRequestTime:
                type: integer
              requestProcessingTime:
                type: number
                format: double

        default:
          description: Failed Server Response

  /umStoreInstallID.json/:
    post:
      summary: Store Notification InstallID against Logged in User
      description: Store Notification InstallID against Logged in User
      tags:
        - 0. User Management
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        - in: formData
          name: params[installID]
          type: string
          description: Notification Install ID
          required: true

      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: integer
              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: date-time
              requestReceivedTime:
                type: string
                format: date-time
              maxAllowedRequestTime:
                type: integer
              requestProcessingTime:
                type: number
                format: double

        default:
          description: Failed Server Response



  /umSendUserPushNotification.json/:
    post:
      summary: SendUserPushNotification
      description: SendUserPushNotification
      tags:
        - 0. User Management
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[email]
          type: string
          description: emailaddress of User
          required: true
        - in: formData
          name: params[backendIdentifier]
          type: string
          description: backendIdentifier
          required: true
        - in: formData
          name: params[navUserName]
          type: string
          description: navUserName
          required: true
        - in: formData
          name: params[notificationTitle]
          type: string
          description: notificationTitle
          required: true
        - in: formData
          name: params[notificationMessage]
          type: string
          description: notificationMessage
          required: true

      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: object
                properties:
                  appId:
                    type: integer
                  source:
                    type: integer
                  status:
                    type: integer
                  filters:
                    type: string
                  title:
                    type: string
                  message:
                    type: string
                  data:
                    type: string
                  updatedAt:
                    type: string
                    format: date-time
                  createdAt:
                    type: string
                    format: date-time
                  id:
                    type: integer
              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: date-time
              requestReceivedTime:
                type: string
                format: date-time
              maxAllowedRequestTime:
                type: integer
              requestProcessingTime:
                type: number
                format: double

        default:
          description: Failed Server Response

  /umChangePassword.json/:
    post:
      summary: Change Password with forgotten password code
      description: Change Password with forgotten password code
      tags:
        - 0. User Management
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[email]
          type: string
          description: emailaddress of User
          required: true
        - in: formData
          name: params[password]
          type: string
          description: password
          required: true
        - in: formData
          name: params[changePasswordCode]
          type: string
          description: emailaddress of User
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true

      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: integer
              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: date-time
              requestReceivedTime:
                type: string
                format: date-time
              maxAllowedRequestTime:
                type: integer
              requestProcessingTime:
                type: number
                format: double

        default:
          description: Failed Server Response

  /umForgottenPassword.json/:
    post:
      summary: Request forgotten password code
      description: Request forgotten password code
      tags:
        - 0. User Management
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[email]
          type: string
          description: emailaddress of User
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true

      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: integer
              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: date-time
              requestReceivedTime:
                type: string
                format: date-time
              maxAllowedRequestTime:
                type: integer
              requestProcessingTime:
                type: number
                format: double

        default:
          description: Failed Server Response

  /umCreateNavUser.json/:
    post:
      summary: To create a nav user in HUB called from NAV system
      description: To create a nav user in HUB  called from NAV system
      tags:
        - 0. User Management
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[email]
          type: string
          description: emailaddress of User
          required: true
        - in: formData
          name: params[backendIdentifier]
          type: string
          description: backendIdentifier
          required: true
        - in: formData
          name: params[navUserName]
          type: string
          description: navUserName
          required: true
        - in: formData
          name: params[navServiceKey]
          type: string
          description: navServiceKey
          required: true
        - in: formData
          name: params[firstName]
          type: string
          description: firstName
        - in: formData
          name: params[lastName]
          type: string
          description: lastName
        - in: formData
          name: params[jwtExpiryTime]
          type: string
          description: user jwt expiry time

      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: integer
              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: date-time
              requestReceivedTime:
                type: string
                format: date-time
              maxAllowedRequestTime:
                type: integer
              requestProcessingTime:
                type: number
                format: double

        default:
          description: Failed Server Response

  /umregisterEmailUser.json/:
    post:
      summary: Register User with Activation Code
      description: Register User with Activation Code
      tags:
        - 0. User Management
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[email]
          type: string
          description: emailaddress of User
          required: true
        - in: formData
          name: params[password]
          type: string
          description: password of User
          required: true
        - in: formData
          name: params[activationCode]
          type: string
          description: activation Code
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true

      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: integer
              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: date-time
              requestReceivedTime:
                type: string
                format: date-time
              maxAllowedRequestTime:
                type: integer
              requestProcessingTime:
                type: number
                format: double

        default:
          description: Failed Server Response

  /umlogin.json/:
    post:
      summary: Login
      description: Login
      tags:
        - 0. User Management
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[email]
          type: string
          description: emailaddress of User
          required: true
        - in: formData
          name: params[password]
          type: string
          description: password of User
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: client Identifier
          required: true

      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: object
                properties:
                  token:
                    type: string
                  expiresAt:
                    type: string
                  companyName:
                    type: string
                  fullName:
                    type: string
                  IsError:
                    type: string
                  ErrorCode:
                    type: string
                  ErrorMessage:
                    type: string
                  IsAllowedLogin:
                    type: string
                  liveCustomerNo:
                    type: string
                  liveCustomerDescription:
                    type: string
                  CustomerCount:
                    type: integer
                  Customers:
                    type: array
                    items:
                      type: object
                      properties:
                        No:
                          type: string
                        Description:
                          type: string

              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: date-time
              requestReceivedTime:
                type: string
                format: date-time
              maxAllowedRequestTime:
                type: integer
              requestProcessingTime:
                type: number
                format: double


  /umNewLogin.json/:
      post:
        summary: Login
        description: Newer version of login
        tags:
          - 0. User Management
        consumes:
          - application/x-www-form-urlencoded
        parameters:
          - in: formData
            name: params[email]
            type: string
            description: emailaddress of User
            required: true
          - in: formData
            name: params[password]
            type: string
            description: password of User
            required: true
          - in: formData
            name: params[clientIdentifier]
            type: string
            description: client Identifier
            required: true
          - in: formData
            name: params[customerNo]
            type: string
            description: Optional customer number

        responses:
          200:
            description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
            schema:
              type: object
              properties:
                responseCode:
                  type: integer
                responseMessage:
                  type: string
                payload:
                  type: object
                  properties:
                    token:
                      type: string
                    expiresAt:
                      type: string
                    companyName:
                      type: string
                    fullName:
                      type: string
                    IsError:
                      type: string
                    ErrorCode:
                      type: string
                    ErrorMessage:
                      type: string
                    IsAllowedLogin:
                      type: string
                    liveCustomerNo:
                      type: string
                    liveCustomerDescription:
                      type: string
                    CustomerCount:
                      type: integer
                    Customers:
                      type: array
                      items:
                        type: object
                        properties:
                          No:
                            type: string
                          Description:
                            type: string
                    customerSettings:
                      type: object
                      properties:
                        IsAllowOwner:
                          type: boolean
                        IsAllowViewOwner:
                          type: boolean
                        IsAllowUpdateOwner:
                          type: boolean
                        IsAllowViewContactPreferences:
                          type: boolean
                        IsAllowUpdateContactPreference:
                          type: boolean
                        IsAllowFinance:
                          type: boolean
                        IsAllowViewInvoices:
                          type: boolean
                        IsAllowViewBalance:
                          type: boolean
                        IsAllowPrintInvoice:
                          type: boolean
                        IsAllowPayInvoice:
                          type: boolean
                        IsAllowPrintStatement:
                          type: boolean
                        IsAllowStore:
                          type: boolean
                        IsAllowViewStoreItems:
                          type: boolean
                        IsAllowBuyStoreItems:
                          type: boolean
                        IsAllowViewStoreReceipts:
                          type: boolean
                        IsAllowPrintStoreReceipts:
                          type: boolean
                        IsAllowJobs:
                          type: boolean
                        IsAllowViewJobs:
                          type: boolean
                        IsAllowCreateJob:
                          type: boolean
                        IsAllowCreateLead:
                          type: boolean

                sessionToken:
                  type: string
                requestedMethod:
                  type: string
                requestedFormat:
                  type: string
                timestamp:
                  type: string
                  format: date-time
                requestReceivedTime:
                  type: string
                  format: date-time
                maxAllowedRequestTime:
                  type: integer
                requestProcessingTime:
                  type: number
                  format: double


  /owPrintInvoice.json/:
    post:
      summary: Print copies of invoices
      description: Print copies of invoices
      tags:
        - 1. Elite Owner App
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        - in: formData
          name: params[customerNo]
          type: string
          description: customerNo
          required: true
        - in: formData
          name: params[invoiceNo]
          type: string
          description: invoiceNo
          required: true


      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: object
                properties:
                  printInvoice_Result:
                    type: object
                    properties:
                      return_value:
                        type: object
                        properties:
                          IsError:
                            type: boolean
                          ErrorCode:
                            type: string
                          ErrorMessage:
                            type: string
                          DocumentName:
                            type: string
                          Base64PDF:
                            type: text

        default:
          description: Failed Server Response


  /owPrintStatement.json/:
      post:
        summary: Print a statement
        description: Print a statement
        tags:
          - 1. Elite Owner App
        consumes:
          - application/x-www-form-urlencoded
        parameters:
          - in: formData
            name: params[jwt]
            type: string
            description: jwt
            required: true
          - in: formData
            name: params[clientIdentifier]
            type: string
            description: clientIdentifier
            required: true
          - in: formData
            name: params[customerNo]
            type: string
            description: customerNo
            required: true
          - in: formData
            name: params[fromDate]
            type: string
            format: date-time
            description: fromDate
            required: true
          - in: formData
            name: params[toDate]
            type: string
            format: date-time
            description: toDate
            required: true


        responses:
          200:
            description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
            schema:
              type: object
              properties:
                responseCode:
                  type: integer
                responseMessage:
                  type: string
                payload:
                  type: object
                  properties:
                    printStatement_Result:
                      type: object
                      properties:
                        return_value:
                          type: object
                          properties:
                            IsError:
                              type: boolean
                            ErrorCode:
                              type: string
                            ErrorMessage:
                              type: string
                            DocumentName:
                              type: string
                            Base64PDF:
                              type: text

          default:
            description: Failed Server Response


  /owPrintReceipt.json/:
      post:
        summary: Print copies of receipts
        description: Print copies of receipts
        tags:
          - 1. Elite Owner App
        consumes:
          - application/x-www-form-urlencoded
        parameters:
          - in: formData
            name: params[jwt]
            type: string
            description: jwt
            required: true
          - in: formData
            name: params[clientIdentifier]
            type: string
            description: clientIdentifier
            required: true
          - in: formData
            name: params[customerNo]
            type: string
            description: customerNo
            required: true
          - in: formData
            name: params[receiptNo]
            type: string
            description: receiptNo
            required: true


        responses:
          200:
            description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
            schema:
              type: object
              properties:
                responseCode:
                  type: integer
                responseMessage:
                  type: string
                payload:
                  type: object
                  properties:
                    printReceipt_Result:
                      type: object
                      properties:
                        return_value:
                          type: object
                          properties:
                            IsError:
                              type: boolean
                            ErrorCode:
                              type: string
                            ErrorMessage:
                              type: string
                            DocumentName:
                              type: string
                            Base64PDF:
                              type: text

          default:
            description: Failed Server Response


  /stripeGetEphemeralKey.json/:
      post:
        summary: Retrieve an ephemeral key from Stripe
        description: Retrieve an ephemeral key from Stripe
        tags:
          - 2. Stripe Integration
        consumes:
          - application/x-www-form-urlencoded
        parameters:
          - in: formData
            name: params[jwt]
            type: string
            description: jwt
            required: true
          - in: formData
            name: params[clientIdentifier]
            type: string
            description: clientIdentifier
            required: true
          - in: formData
            name: params[api_version]
            type: string
            description: api_version
            required: true


        responses:
          200:
            description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
            schema:
              type: object
              properties:
                responseCode:
                  type: integer
                responseMessage:
                  type: string
                payload:
                  type: object
                  properties:
                    id:
                      type: string
                    object:
                      type: string
                    associated_objects:
                      type: array
                      items:
                        type: object
                        properties:
                          type:
                            type: string
                          id:
                            type: string
                    created:
                      type: number
                    expires:
                      type: number
                    livemode:
                      type: boolean
                    secret:
                      type: string
                sessionToken:
                  type: string
                requestedMethod:
                  type: string
                requestedFormat:
                  type: string
                timestamp:
                  type: string
                  format: time
                requestReceivedTime:
                  type: string
                  format: time
                maxAllowedRequestTime:
                  type: integer
                requestProcessingTime:
                  type: string

          default:
            description: Failed Server Response


  /stripeCreatePaymentIntent.json/:
      post:
        summary: Create a payment intent in Stripe
        description: Create a payment intent in Stripe
        tags:
          - 2. Stripe Integration
        consumes:
          - application/x-www-form-urlencoded
        parameters:
          - in: formData
            name: params[jwt]
            type: string
            description: jwt
            required: true
          - in: formData
            name: params[clientIdentifier]
            type: string
            description: clientIdentifier
            required: true
          - in: formData
            name: params[amount]
            type: string
            description: Amount to be charged
            required: true
          - in: formData
            name: params[captureMethod]
            type: string
            description: captureMethod
            required: true
          - in: formData
            name: params[currency]
            type: string
            description: currency
            required: true
          - in: formData
            name: params[confirmationMethod]
            type: string
            description: confirmationMethod
            required: false
          - in: formData
            name: params[confirm]
            type: string
            description: confirm
            required: false
          - in: formData
            name: params[paymentMethod]
            type: string
            description: paymentMethod
            required: false
          - in: formData
            name: params[transactionType]
            type: string
            description: transactionType
            required: true
          - in: formData
            name: params[customerNo]
            type: true
            description: customerNo
            required: true

        responses:
          200:
            description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
            schema:
              type: object
              properties:
                responseCode:
                  type: integer
                responseMessage:
                  type: string
                payload:
                  type: object
                  properties:
                    id:
                      type: string
                    object:
                      type: string
                    amount:
                      type: number
[...]
