produces:
    - text/plain
    - application/json
    - text/json
schemes:
    - https
swagger: "2.0"
info:
    description: Cotham-McBains Demo service 1
    title: Cotham-McBains Demo service
    version: v1.0
host: x8ki-letl-twmt.n7.xano.i0
basePath: /api:7Iv2W5kC
paths:

  /mcbainsimagestorage:
    post:
      summary: Location Report Storage
      description: Location Report Storage with image and description
      tags:
        - 1. McBains Demo App
      consumes:
        - application/json
      parameters:
        - in: header
          name: Authorization
          type: string
          description: token
          required: true
          
        - in: body
          name: base64Image
          type: string
          description: Image Capture for Report Item
          required: true
          
        - in: body
          name: Description
          type: string
          description: Text Description for Report Item
          required: true
        
      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: array
                items:
                  type: object
                  properties: 
                    User_Name: 
                      type: string
                    Company_Name: 
                      type: string
                    Waste_Employee_No: 
                      type: string
                    Name: 
                      type: string
                    Address: 
                      type: string
                    Address_2: 
                      type: string
                    County: 
                      type: string
                    City: 
                      type: string
                    Post_Code: 
                      type: string
                    Country_Region_Code:
                      type: string
                    Phone_No: 
                      type: string
                    E_Mail: 
                      type: string
                    E_Mail_2: 
                      type: string
                    Home_Page: 
                      type: string
                    AuxiliaryIndex1: 
                      type: string
                    AuxiliaryIndex2: 
                      type: string
                    AuxiliaryIndex3: 
                      type: string
                    AuxiliaryIndex4: 
                      type: string
                    AuxiliaryIndex5: 
                      type: string
                    User_Security_ID_FilterOnly: 
                      type: string
              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: time
              requestReceivedTime:
                type: string
                format: time
              maxAllowedRequestTime:
                type: integer 
              requestProcessingTime:
                type: string
                format: double
                
        default:
          description: Failed Server Response
