swagger: '2.0'
info:
  version: "0.1"
  title: 'DRIVER APP Staging NEW'
  description: 'DRIVER APP Staging NEW'

host: api.kumulos.com 
basePath: /b2.2/2fe006a7-4a3d-45fe-814c-cf820e34b91a

x-flopro-kumulosrpc: true

schemes:
  - https
securityDefinitions:
  basicAuth:
    type: basic

# To apply Basic auth to the whole API:
security:
  - basicAuth: []

paths:

  /drGetSupportInfo.json/:
    post:
      summary: GetSupportInfo
      description: GetSupportInfo
      tags:
        - 1. Driver App
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        
      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: array
                items:
                  type: object
                  properties: 
                    User_Name: 
                      type: string
                    Company_Name: 
                      type: string
                    Waste_Employee_No: 
                      type: string
                    Name: 
                      type: string
                    Address: 
                      type: string
                    Address_2: 
                      type: string
                    County: 
                      type: string
                    City: 
                      type: string
                    Post_Code: 
                      type: string
                    Country_Region_Code:
                      type: string
                    Phone_No: 
                      type: string
                    E_Mail: 
                      type: string
                    E_Mail_2: 
                      type: string
                    Home_Page: 
                      type: string
                    AuxiliaryIndex1: 
                      type: string
                    AuxiliaryIndex2: 
                      type: string
                    AuxiliaryIndex3: 
                      type: string
                    AuxiliaryIndex4: 
                      type: string
                    AuxiliaryIndex5: 
                      type: string
                    User_Security_ID_FilterOnly: 
                      type: string
              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: time
              requestReceivedTime:
                type: string
                format: time
              maxAllowedRequestTime:
                type: integer 
              requestProcessingTime:
                type: string
                format: double
                
        default:
          description: Failed Server Response

  /umUpdateNotification.json/:
    post:
      summary: Update  Notification Status
      description: Update  Notification Status
      tags:
        - 0. User Management
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        - in: formData
          name: params[status]
          type: string
          required: true
          description: New Status
        - in: formData
          name: params[entry_no]
          type: integer
          description: entry_no
          required: true
        
      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: object
                properties:
                  Request_Status:
                      type: string
              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: time
              requestReceivedTime:
                type: string
                format: time
              maxAllowedRequestTime:
                type: integer 
              requestProcessingTime:
                type: string
                format: double
  
  /drGetReasonCodes.json/:
    post:
      summary: drGetReasonCodes
      description: drGetReasonCodes
      tags:
        - 1. Driver App
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true

      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: array
                items:
                  type: object
                  properties:
                    code:
                      type: string
                    description:
                      type: string
              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: time
              requestReceivedTime:
                type: string
                format: time
              maxAllowedRequestTime:
                type: integer 
              requestProcessingTime:
                type: string
                format: double
  
  /drGetVehicles.json/:
    post:
      summary: drGetVehicles
      description: drGetVehicles
      tags:
        - 1. Driver App
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        - in: formData
          name: params[licensePlateNumber]
          type: string
          description: licensePlateNumber
          required: true
        
      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: array
                items:
                  type: object
                  properties:
                    licensePlateNumber:
                      type: string
                    vehicleNo:
                      type: string
                    description:
                      type: string
                    vehicleStatus:
                      type: string
              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: time
              requestReceivedTime:
                type: string
                format: time
              maxAllowedRequestTime:
                type: integer 
              requestProcessingTime:
                type: string
                format: double

  /drGetUserVehicleChecks.json/:
    post:
      summary: drGetUserVehicleChecks
      description: drGetUserVehicleChecks
      tags:
        - 1. Driver App
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        
      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: array
                items:
                  type: object
                  properties:
                    scheduledDate:
                      type: string
                    vehicleReg:
                      type: string
                    drVehicleCheckID:
                      type: string
                    timeCreated:
                      type: string
                    timeUpdated:
                      type: string
                    driverName:
                      type: string
                    driverSignature:
                      type: string
                    checkStatus:
                      type: string
                    openCount:
                      type: integer
              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: time
              requestReceivedTime:
                type: string
                format: time
              maxAllowedRequestTime:
                type: integer 
              requestProcessingTime:
                type: string
                format: double

  /drChangeVehicle.json/:
    post:
      summary: drChangeVehicle
      description: drChangeVehicle
      tags:
        - 1. Driver App
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        - in: formData
          name: params[tourNo]
          type: integer
          description: Unique Tour Number
          required: true
        - in: formData
          name: params[vehicleRegNo]
          type: string
          description: vehicleRegNo
          required: true
        - in: formData
          name: params[localDateTimeStamp]
          type: string
          description: date time when processed on the device
          required: false
        - in: formData
          name: params[lng]
          type: string
          description: longitude
          required: false
        - in: formData
          name: params[lat]
          type: string
          description: latitude
          required: false
        
      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: integer
              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: time
              requestReceivedTime:
                type: string
                format: time
              maxAllowedRequestTime:
                type: integer 
              requestProcessingTime:
                type: string
                format: double
  
  /drGetVehicleCheckList.json/:
    post:
      summary: drGetVehicleCheckList
      description: drGetVehicleCheckList
      tags:
        - 1. Driver App
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        - in: formData
          name: params[vehicleRegNo]
          type: string
          description: vehicleRegNo
          required: true
        
      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: array
                items:
                  type: object
                  properties:
                    scheduledDate:
                      type: string
                    vehicleReg:
                      type: string
                    drVehicleCheckID:
                      type: string
                    timeCreated:
                      type: string
                    timeUpdated:
                      type: string
                    driverName:
                      type: string
                    driverSignature:
                      type: string
                    checkStatus:
                      type: string
                    vehicleCheckItems:
                      type: array
                      items: 
                        type: object
                        properties:
                          drVehicleCheckItemID:
                            type: string
                          timeCreated:
                            type: string
                          timeUpdated:
                            type: string
                          checkDescription:
                            type: string
                          checkAnswer:
                            type: string
                          checkComments:
                            type: string
                          vehicleCheck:
                            type: string
                          templateNo:
                            type: string
                          lineNo:
                            type: integer
                          responseRequired:
                            type: string
                          checkValue:
                            type: string
                          VehicleCheckItemPhotos:
                            type: array
                            items:
                              type: object
                              properties:
                                checkItemPhoto: 
                                  type: string
                                vehicleCheckItem:
                                  type: string
                                drVehicleCheckItemPhotoID: 
                                  type: string
                                timeCreated: 
                                  type: string
                                timeUpdated: 
                                  type: string  
              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: time
              requestReceivedTime:
                type: string
                format: time
              maxAllowedRequestTime:
                type: integer 
              requestProcessingTime:
                type: string
                format: double
  
  /drRejectJob.json/:
    post:
      summary: drRejectJob
      description: drRejectJob
      tags:
        - 1. Driver App
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        - in: formData
          name: params[tourNo]
          type: integer
          description: Unique Tour Number
          required: true
        - in: formData
          name: params[orderNo]
          type: string
          description: orderNo
          required: true
        - in: formData
          name: params[localDateTimeStamp]
          type: string
          description: date time when processed on the device
          required: false
        - in: formData
          name: params[jobPhotosArray]
          type: string
          description: jobPhotosArray
          required: false
        - in: formData
          name: params[reasonCode]
          type: string
          description: reasonCode
          required: false
        - in: formData
          name: params[driverNotes]
          type: string
          description: driverNotes
          required: false
        - in: formData
          name: params[lng]
          type: string
          description: longitude
          required: false
        - in: formData
          name: params[lat]
          type: string
          description: latitude
          required: false
        
      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: integer
              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: time
              requestReceivedTime:
                type: string
                format: time
              maxAllowedRequestTime:
                type: integer 
              requestProcessingTime:
                type: string
                format: double

  /drCompleteJob.json/:
    post:
      summary: drCompleteJob
      description: drCompleteJob
      tags:
        - 1. Driver App
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        - in: formData
          name: params[tourNo]
          type: integer
          description: Unique Tour Number
          required: true
        - in: formData
          name: params[orderNo]
          type: string
          description: orderNo
          required: true
        - in: formData
          name: params[localDateTimeStamp]
          type: string
          description: date time when processed on the device
          required: false
        - in: formData
          name: params[serviceLinesArray]
          type: string
          description: serviceLinesArray
          required: false
        - in: formData
          name: params[signature]
          type: string
          format: byte
          description: signature image
          required: false
        - in: formData
          name: params[signatureName]
          type: string
          description: signature Name
          required: false
        - in: formData
          name: params[lng]
          type: string
          description: longitude
          required: false
        - in: formData
          name: params[lat]
          type: string
          description: latitude
          required: false
        
      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: integer
              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: time
              requestReceivedTime:
                type: string
                format: time
              maxAllowedRequestTime:
                type: integer 
              requestProcessingTime:
                type: string
                format: double

  /drGetGoogleMapURL.json/:
    post:
      summary: drGetGoogleMapURL
      description: drGetGoogleMapURL
      tags:
        - 1. Driver App
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        - in: formData
          name: params[jobID]
          type: integer
          description: Unique Tour Number
          required: true
  
      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: object
                properties:
                  mapURL:
                    type: string
              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: time
              requestReceivedTime:
                type: string
                format: time
              maxAllowedRequestTime:
                type: integer 
              requestProcessingTime:
                type: string
                format: double

  /drUpdateTourStatus.json/:
    post:
      summary: drUpdateTourStatus TEMP API
      description: drUpdateTourStatus TEMP API
      tags:
        - 1. Driver App
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        - in: formData
          name: params[status]
          type: integer
          description: status
          required: true
        - in: formData
          name: params[tourNo]
          type: string
          description: Tour No
          required: true
        
      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: integer
              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: time
              requestReceivedTime:
                type: string
                format: time
              maxAllowedRequestTime:
                type: integer 
              requestProcessingTime:
                type: string
                format: double

  /drArrivedAtJob.json/:
    post:
      summary: drArrivedAtJob
      description: drArrivedAtJob
      tags:
        - 1. Driver App
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        - in: formData
          name: params[tourNo]
          type: integer
          description: Unique Tour Number
          required: true
        - in: formData
          name: params[orderNo]
          type: string
          description: orderNo
          required: false
        - in: formData
          name: params[localDateTimeStamp]
          type: string
          description: date time when processed on the device
          required: false
        - in: formData
          name: params[lng]
          type: string
          description: longitude
          required: false
        - in: formData
          name: params[lat]
          type: string
          description: latitude
          required: false
        
      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: integer
              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: time
              requestReceivedTime:
                type: string
                format: time
              maxAllowedRequestTime:
                type: integer 
              requestProcessingTime:
                type: string
                format: double

  /drStartJob.json/:
    post:
      summary: drStartJob
      description: drStartJob
      tags:
        - 1. Driver App
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        - in: formData
          name: params[tourNo]
          type: integer
          description: Unique Tour Number
          required: true
        - in: formData
          name: params[orderNo]
          type: string
          description: orderNo
          required: false
        - in: formData
          name: params[localDateTimeStamp]
          type: string
          description: date time when processed on the device
          required: false
        - in: formData
          name: params[lng]
          type: string
          description: longitude
          required: false
        - in: formData
          name: params[lat]
          type: string
          description: latitude
          required: false
        
      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: integer
              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: time
              requestReceivedTime:
                type: string
                format: time
              maxAllowedRequestTime:
                type: integer 
              requestProcessingTime:
                type: string
                format: double

  /drHoldTour.json/:
    post:
      summary: drHoldTour
      description: drHoldTour
      tags:
        - 1. Driver App
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        - in: formData
          name: params[tourNo]
          type: integer
          description: Unique Tour Number
          required: true
        - in: formData
          name: params[tourStartMileage]
          type: integer
          description: tourStartMileage
          required: false
        - in: formData
          name: params[vehicleChecksData]
          type: string
          description: vehicleChecksData array
          required: false
        - in: formData
          name: params[localDateTimeStamp]
          type: string
          description: date time when processed on the device
          required: false
        - in: formData
          name: params[lng]
          type: string
          description: longitude
          required: false
        - in: formData
          name: params[lat]
          type: string
          description: latitude
          required: false
        
      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: integer
              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: time
              requestReceivedTime:
                type: string
                format: time
              maxAllowedRequestTime:
                type: integer 
              requestProcessingTime:
                type: string
                format: double

  /drResumeTour.json/:
    post:
      summary: drResumeTour
      description: drResumeTour
      tags:
        - 1. Driver App
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        - in: formData
          name: params[tourNo]
          type: integer
          description: Unique Tour Number
          required: true
        - in: formData
          name: params[localDateTimeStamp]
          type: string
          description: date time when processed on the device
          required: false
        - in: formData
          name: params[lng]
          type: string
          description: longitude
          required: false
        - in: formData
          name: params[lat]
          type: string
          description: latitude
          required: false
        
      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: integer
              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: time
              requestReceivedTime:
                type: string
                format: time
              maxAllowedRequestTime:
                type: integer 
              requestProcessingTime:
                type: string
                format: double
  
  /drGetTourStatus.json/:
    post:
      summary: drGetTourStatus
      description: drGetTourStatus
      tags:
        - 1. Driver App
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        - in: formData
          name: params[tourNo]
          type: integer
          description: Unique Tour Number
          required: true
        
      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: object
                properties:
                  tourStatus:
                    type: string
              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: time
              requestReceivedTime:
                type: string
                format: time
              maxAllowedRequestTime:
                type: integer 
              requestProcessingTime:
                type: string
                format: double
  
  /drCancelTour.json/:
    post:
      summary: drCancelTour
      description: drCancelTour
      tags:
        - 1. Driver App
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        - in: formData
          name: params[tourNo]
          type: integer
          description: Unique Tour Number
          required: true
        - in: formData
          name: params[localDateTimeStamp]
          type: string
          description: date time when processed on the device
          required: false
        - in: formData
          name: params[lng]
          type: string
          description: longitude
          required: false
        - in: formData
          name: params[lat]
          type: string
          description: latitude
          required: false
        
      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: integer
              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: time
              requestReceivedTime:
                type: string
                format: time
              maxAllowedRequestTime:
                type: integer 
              requestProcessingTime:
                type: string
                format: double
  
  /drPauseTour.json/:
    post:
      summary: drPauseTour
      description: drPauseTour
      tags:
        - 1. Driver App
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        - in: formData
          name: params[tourNo]
          type: integer
          description: Unique Tour Number
          required: true
        - in: formData
          name: params[localDateTimeStamp]
          type: string
          description: date time when processed on the device
          required: false
        - in: formData
          name: params[lng]
          type: string
          description: longitude
          required: false
        - in: formData
          name: params[lat]
          type: string
          description: latitude
          required: false
        
      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: integer
              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: time
              requestReceivedTime:
                type: string
                format: time
              maxAllowedRequestTime:
                type: integer 
              requestProcessingTime:
                type: string
                format: double
  
  /drEndTour.json/:
    post:
      summary: drEndTour
      description: drEndTour
      tags:
        - 1. Driver App
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        - in: formData
          name: params[tourNo]
          type: integer
          description: Unique Tour Number
          required: true
        - in: formData
          name: params[tourEndMileage]
          type: integer
          description: tourEndMileage
          required: false
        - in: formData
          name: params[localDateTimeStamp]
          type: string
          description: date time when processed on the device
          required: false
        - in: formData
          name: params[lng]
          type: string
          description: longitude
          required: false
        - in: formData
          name: params[lat]
          type: string
          description: latitude
          required: false
        - in: formData
          name: params[tourEndLocation]
          type: string
          description: tourEndLocation
          required: false
        
      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: integer
              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: time
              requestReceivedTime:
                type: string
                format: time
              maxAllowedRequestTime:
                type: integer 
              requestProcessingTime:
                type: string
                format: double

  /drSaveVehicleCheck.json/:
    post:
      summary: drSaveVehicleCheck
      description: drSaveVehicleCheck
      tags:
        - 1. Driver App
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        - in: formData
          name: params[vehicleChecksData]
          type: string
          description: vehicleChecksData array
          required: false
        - in: formData
          name: params[localDateTimeStamp]
          type: string
          description: date time when processed on the device
          required: false
        - in: formData
          name: params[lng]
          type: string
          description: longitude
          required: false
        - in: formData
          name: params[lat]
          type: string
          description: latitude
          required: false
        - in: formData
          name: params[tourStatus]
          type: string
          description: tourStatus
          required: false
        
      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: integer
              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: time
              requestReceivedTime:
                type: string
                format: time
              maxAllowedRequestTime:
                type: integer 
              requestProcessingTime:
                type: string
                format: double
  
  /drSubmitDefect.json/:
    post:
      summary: drSubmitDefect
      description: drSubmitDefect
      tags:
        - 1. Driver App
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        - in: formData
          name: params[photosArrayData]
          type: string
          description: photosArrayData
          required: false
        - in: formData
          name: params[localDateTimeStamp]
          type: string
          description: date time when processed on the device
          required: false
        - in: formData
          name: params[lng]
          type: string
          description: longitude
          required: false
        - in: formData
          name: params[lat]
          type: string
          description: latitude
          required: false
        - in: formData
          name: params[tourID]
          type: string
          description: tourID
          required: false
        - in: formData
          name: params[vcType]
          type: string
          description: vcType
          required: false
        - in: formData
          name: params[vehicleReg]
          type: string
          description: vehicleReg
          required: false
        - in: formData
          name: params[tourNo]
          type: string
          description: tourNo
          required: false
        - in: formData
          name: params[defectNotes]
          type: string
          description: defectNotes
          required: false
        - in: formData
          name: params[vehicleCheckID]
          type: string
          description: vehicleCheckID
          required: false
        - in: formData
          name: params[defectNumber]
          type: string
          description: defectNumber
          required: false
        
      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: integer
              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: time
              requestReceivedTime:
                type: string
                format: time
              maxAllowedRequestTime:
                type: integer 
              requestProcessingTime:
                type: string
                format: double

  
  /drStartTour.json/:
    post:
      summary: drStartTour
      description: drStartTour
      tags:
        - 1. Driver App
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        - in: formData
          name: params[tourNo]
          type: integer
          description: Unique Tour Number
          required: true
        - in: formData
          name: params[tourStartMileage]
          type: integer
          description: tourStartMileage
          required: false
        - in: formData
          name: params[localDateTimeStamp]
          type: string
          description: date time when processed on the device
          required: false
        - in: formData
          name: params[lng]
          type: string
          description: longitude
          required: false
        - in: formData
          name: params[lat]
          type: string
          description: latitude
          required: false
        - in: formData
          name: params[tourStartLocation]
          type: string
          description: tourStartLocation
          required: false
        
      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: integer
              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: time
              requestReceivedTime:
                type: string
                format: time
              maxAllowedRequestTime:
                type: integer 
              requestProcessingTime:
                type: string
                format: double
  
  /drGetUserOpenTourDetails.json/:
    post:
      summary: drGetUserOpenTourDetails
      description: drGetUserOpenTourDetails
      tags:
        - 1. Driver App
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        
      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: array
                items:
                  type: object
                  properties:
                    driverEmail:
                      type: string
                    tourDescription:
                      type: string
                    tourScheduledDate:
                      type: string
                    tourVehicleReg:
                      type: string
                    tourStartMileage:
                      type: string
                    tourEndMileage:
                      type: string
                    tourBackendID:
                      type: string
                    tourUserID:
                      type: string
                    drTourID:
                      type: string
                    timeCreated:
                      type: string
                    timeUpdated:
                      type: string
                    tourStatus:
                      type: string
                    tourBackendLastUpdate:
                      type: string
                    tourNo:
                      type: string
                    instanceID:
                      type: string
                    tourStartLocation:
                      type: string
                    tourEndLocation:
                      type: string
                    tourCount:
                      type: string
                    jobs:
                      type: array
                      items:
                        type: object
                        properties:
                          sequenceNo:
                            type: string
                          jobStatus:
                            type: string
                          tour:
                            type: string
                          drJobID:
                            type: string
                          timeCreated:
                            type: string
                          timeUpdated:
                            type: string
                          customerName:
                            type: string
                          taskName:
                            type: string
                          taskAddress:
                            type: string
                          taskCity:
                            type: string
                          taskPostCode:
                            type: string
                          signatureName:
                            type: string
                          signature:
                            type: string
                          reasonCode:
                            type: string
                          driverNotes:
                            type: string
                          task_at_Code:
                            type: string
                          combinedAddress:
                            type: string
                          orderNo:
                            type: string
                          latitude:
                            type: string
                          longitude:
                            type: string
                          serviceLines: 
                            type: array
                            items:
                              type: object
                              properties:
                                orderLineNo:
                                  type: string
                                serviceDescription:
                                  type: string
                                lineComment:
                                  type: string
                                confirmedQty:
                                  type: string
                                job:
                                  type: string
                                drServiceLineID:
                                  type: string
                                timeCreated:
                                  type: string
                                timeUpdated:
                                  type: string
                                orderQty:
                                  type: string
                                lineStatus:
                                  type: string
                                lineChangeStatus:
                                  type: string
                                entryLines:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      entryType:
                                        type: string
                                      entryLineNo:
                                        type: string
                                      qtyRequiredFlag: 
                                        type: string
                                      qtyTypeFlag: 
                                        type: string
                                      entryDescription: 
                                        type: string
                                      entryOrderQty:
                                        type: string
                                      entryUOM: 
                                        type: string
                                      entryConfirmedQty:
                                        type: string
                                      entryStatus: 
                                        type: string
                                      drServiceEntryLineID:
                                        type: string
                                      timeCreated: 
                                        type: string
                                      timeUpdated: 
                                        type: string
                                      serviceLineID: 
                                        type: string
                                      entryLineComment:
                                        type: string
                                      entryChangeStatus:
                                        type: string
                                      reasonCode:
                                        type: string
                                      photos: 
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            drJobPhotoID:
                                              type: integer
                                            job:
                                              type: integer
                                            jobPhotoComment:
                                              type: string
                                            serviceEntry:
                                              type: integer
                                            photo:
                                              type: string
                                              format: byte
                                            timeCreated:
                                              type: string
                                            timeUpdated:
                                              type: string  
                          photos: 
                            type: array
                            items:
                              type: object
                              properties:
                                drJobPhotoID:
                                  type: integer
                                job:
                                  type: integer
                                jobPhotoComment:
                                  type: string
                                serviceEntry:
                                  type: integer
                                photo:
                                  type: string
                                  format: byte
                                timeCreated:
                                  type: string
                                timeUpdated:
                                  type: string
                          comments:
                            type: array
                            items:
                              type: object
                              properties:
                                comment:
                                  type: string
                                commentLineNo:
                                  type: string
                                driverAppAlert:
                                  type: string
                          commentsAlerts:
                            type: array
                            items:
                              type: object
                              properties:
                                comment:
                                  type: string
                                commentLineNo:
                                  type: string
                                driverAppAlert:
                                  type: string
                    totalJobs:
                      type: number
                    sodVC:
                      type: object
                      properties:
                        scheduledDate:
                          type: string
                        vehicleReg:
                          type: string
                        drVehicleCheckID:
                          type: string
                        timeCreated:
                          type: string
                        timeUpdated:
                          type: string
                        driverName:
                          type: string
                        driverSignature: 
                          type: string
                        checkStatus:
                          type: string
                        instanceID:
                          type: string
                        vctype:
                          type: string
                        tourID:
                          type: string
                        vcItems:
                          type: array
                          items:
                            type: object
                            properties:
                              drVehicleCheckItemID:
                                type: string
                              timeCreated:
                                type: string
                              timeUpdated:
                                type: string
                              checkDescription:
                                type: string
                              checkComments:
                                type: string
                              vehicleCheck:
                                type: string
                              checkAnswer:
                                type: string
                              responseRequired:
                                type: string
                              lineNo:
                                type: string
                              checkValue:
                                type: string
                              templateNo:
                                type: string
                              classification:
                                type: string
                              checkRequirement:
                                type: string
                              defectNumber:
                                type: string
                              repairerName:
                                type: string
                              repairerSignature:
                                type: string
                              repairDateTime:
                                type: string
                              VehicleCheckItemPhotos:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    checkItemPhoto: 
                                      type: string
                                    vehicleCheckItem:
                                      type: string
                                    drVehicleCheckItemPhotoID: 
                                      type: string
                                    timeCreated: 
                                      type: string
                                    timeUpdated: 
                                      type: string
                            
                    eodVC:
                      type: object
                      properties:
                        scheduledDate:
                          type: string
                        vehicleReg:
                          type: string
                        drVehicleCheckID:
                          type: string
                        timeCreated:
                          type: string
                        timeUpdated:
                          type: string
                        driverName:
                          type: string
                        driverSignature: 
                          type: string
                        checkStatus:
                          type: string
                        instanceID:
                          type: string
                        vctype:
                          type: string
                        tourID:
                          type: string
                        vcItems:
                          type: array
                          items:
                            type: object
                            properties:
                              drVehicleCheckItemID:
                                type: string
                              timeCreated:
                                type: string
                              timeUpdated:
                                type: string
                              checkDescription:
                                type: string
                              checkComments:
                                type: string
                              vehicleCheck:
                                type: string
                              checkAnswer:
                                type: string
                              responseRequired:
                                type: string
                              lineNo:
                                type: string
                              checkValue:
                                type: string
                              templateNo:
                                type: string
                              classification:
                                type: string
                              checkRequirement:
                                type: string
                              defectNumber:
                                type: string
                              repairerName:
                                type: string
                              repairerSignature:
                                type: string
                              repairDateTime:
                                type: string
                              VehicleCheckItemPhotos:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    checkItemPhoto: 
                                      type: string
                                    vehicleCheckItem:
                                      type: string
                                    drVehicleCheckItemPhotoID: 
                                      type: string
                                    timeCreated: 
                                      type: string
                                    timeUpdated: 
                                      type: string
              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: time
              requestReceivedTime:
                type: string
                format: time
              maxAllowedRequestTime:
                type: integer 
              requestProcessingTime:
                type: string
                format: double
            
  /drGetOpenTourDetails.json/:
    post:
      summary: drGetOpenTourDetails
      description: drGetOpenTourDetails
      tags:
        - 1. Driver App
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        - in: formData
          name: params[tourNo]
          type: integer
          description: Unique Tour Number
          required: true
        
      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: array
                items:
                  type: object
                  properties:
                    driverEmail:
                      type: string
                    tourNo:
                      type: string
                    tourDescription:
                      type: string
                    tourScheduledDate: 
                      type: string
                    tourVehicleReg:
                      type: string
                    tourStartMileage:
                      type: string
                    tourEndMileage: 
                      type: string
                    tourBackendID: 
                      type: string
                    tourUserID:
                      type: string
                    drTourID: 
                      type: string
                    timeCreated: 
                      type: string
                    timeUpdated: 
                      type: string
                    tourStatus:
                      type: string
                    jobs:
                      type: array
                      items:
                        type: object
                        properties:
                          sequenceNo:
                            type: string
                          orderNo:
                            type: string
                          jobStatus:
                            type: string
                          tour:
                            type: string
                          drJobID:
                            type: string
                          timeCreated:
                            type: string
                          timeUpdated:
                            type: string
                          customerName:
                            type: string
                          taskName:
                            type: string
                          taskAddress:
                            type: string
                          taskCity:
                            type: string
                          taskPostCode:
                            type: string
                          signatureName:
                            type: string
                          signature:
                            type: string
                          reasonCode:
                            type: string
                          driverNotes:
                            type: string
                          serviceLines: 
                            type: array
                            items:
                              type: object
                              properties:
                                orderLineNo:
                                  type: string
                                serviceDescription:
                                  type: string
                                materialDescription:
                                  type: string
                                equipmentDescription:
                                  type: string
                                lineComment:
                                  type: string
                                confirmedQty:
                                  type: string
                                job:
                                  type: string
                                drServiceLineID:
                                  type: string
                                timeCreated:
                                  type: string
                                timeUpdated:
                                  type: string
                                orderQty:
                                  type: string
                          photos: 
                            type: array
                            items:
                              type: object
                              properties:
                                drJobPhotoID:
                                  type: integer
                                job:
                                  type: integer
                                photo:
                                  type: string
                                  format: byte
                                timeCreated:
                                  type: string
                                timeUpdated:
                                  type: string
                    vehicleChecks:
                      type: array
                      items:
                        type: object
                        properties:
                          scheduledDate:
                            type: string
                          vehicleReg:
                            type: string
                          drVehicleCheckID:
                            type: string
                          timeCreated:
                            type: string
                          timeUpdated:
                            type: string
                          driverName:
                            type: string
                          driverSignature:
                            type: string
                          tour:
                            type: string
                          checkStatus:
                            type: string
                          vehicleCheckItems:
                            type: array
                            items: 
                              type: object
                              properties:
                                drVehicleCheckItemID:
                                  type: string
                                timeCreated:
                                  type: string
                                timeUpdated:
                                  type: string
                                checkDescription:
                                  type: string
                                checkAnswer:
                                  type: string
                                checkComments:
                                  type: string
                                vehicleCheck:
                                  type: string
                                VehicleCheckItemPhotos:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      checkItemPhoto: 
                                        type: string
                                      vehicleCheckItem:
                                        type: string
                                      drVehicleCheckItemPhotoID: 
                                        type: string
                                      timeCreated: 
                                        type: string
                                      timeUpdated: 
                                        type: string  
              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: time
              requestReceivedTime:
                type: string
                format: time
              maxAllowedRequestTime:
                type: integer 
              requestProcessingTime:
                type: string
                format: double

  /drCheckNewServerData.json/:
    post:
      summary: drCheckNewServerData
      description: drCheckNewServerData
      tags:
        - 1. Driver App
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        - in: formData
          name: params[mobileUpdateArray]
          type: string
          description: mobileUpdateArray
  
      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: object
                properties:
                  newDataAvailable:
                    type: string
                  tours:
                    type: array
                    items:
                      type: object
                      properties:
                        driverEmail:
                          type: string
                        tourNo:
                          type: string
                        tourDescription:
                          type: string
                        tourScheduledDate: 
                          type: string
                        tourVehicleReg:
                          type: string
                        tourStartMileage:
                          type: string
                        tourEndMileage: 
                          type: string
                        tourBackendID: 
                          type: string
                        tourUserID:
                          type: string
                        drTourID: 
                          type: string
                        timeCreated: 
                          type: string
                        timeUpdated: 
                          type: string
                        tourStatus:
                          type: string
              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: time
              requestReceivedTime:
                type: string
                format: time
              maxAllowedRequestTime:
                type: integer 
              requestProcessingTime:
                type: string
                format: double

  /drGetUserTourHeaders.json/:
    post:
      summary: drGetUserTourHeaders
      description: drGetUserTourHeaders
      tags:
        - 1. Driver App
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        
      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: array
                items:
                  type: object
                  properties:
                    driverEmail:
                      type: string
                    tourNo:
                      type: string
                    tourDescription:
                      type: string
                    tourScheduledDate: 
                      type: string
                    tourVehicleReg:
                      type: string
                    tourStartMileage:
                      type: string
                    tourEndMileage: 
                      type: string
                    tourBackendID: 
                      type: string
                    tourUserID:
                      type: string
                    drTourID: 
                      type: string
                    timeCreated: 
                      type: string
                    timeUpdated: 
                      type: string
                    tourStatus:
                      type: string
              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: time
              requestReceivedTime:
                type: string
                format: time
              maxAllowedRequestTime:
                type: integer 
              requestProcessingTime:
                type: string
                format: double
                
  /drGetUserTourDataAll.json/:
    post:
      summary: drGetUserTourDataAll
      description: drGetUserTourDataAll
      tags:
        - 1. Driver App
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        
      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: array
                items:
                  type: object
                  properties:
                    driverEmail:
                      type: string
                    tourNo:
                      type: string
                    tourDescription:
                      type: string
                    tourScheduledDate: 
                      type: string
                    tourVehicleReg:
                      type: string
                    tourStartMileage:
                      type: string
                    tourEndMileage: 
                      type: string
                    tourBackendID: 
                      type: string
                    tourUserID:
                      type: string
                    drTourID: 
                      type: string
                    timeCreated: 
                      type: string
                    timeUpdated: 
                      type: string
                    tourStatus:
                      type: string
                    jobs:
                      type: array
                      items:
                        type: object
                        properties:
                          sequenceNo:
                            type: string
                          orderNo:
                            type: string
                          jobStatus:
                            type: string
                          tour:
                            type: string
                          drJobID:
                            type: string
                          timeCreated:
                            type: string
                          timeUpdated:
                            type: string
                          customerName:
                            type: string
                          taskName:
                            type: string
                          taskAddress:
                            type: string
                          taskCity:
                            type: string
                          taskPostCode:
                            type: string
                          signatureName:
                            type: string
                          signature:
                            type: string
                          reasonCode:
                            type: string
                          driverNotes:
                            type: string
                          serviceLines: 
                            type: array
                            items:
                              type: object
                              properties:
                                orderLineNo:
                                  type: string
                                serviceDescription:
                                  type: string
                                materialDescription:
                                  type: string
                                equipmentDescription:
                                  type: string
                                lineComment:
                                  type: string
                                confirmedQty:
                                  type: string
                                job:
                                  type: string
                                drServiceLineID:
                                  type: string
                                timeCreated:
                                  type: string
                                timeUpdated:
                                  type: string
                                orderQty:
                                  type: string
                          photos: 
                            type: array
                            items:
                              type: object
                              properties:
                                drJobPhotoID:
                                  type: integer
                                job:
                                  type: integer
                                photo:
                                  type: string
                                  format: byte
                                timeCreated:
                                  type: string
                                timeUpdated:
                                  type: string
                    vehicleChecks:
                      type: array
                      items:
                        type: object
                        properties:
                          scheduledDate:
                            type: string
                          vehicleReg:
                            type: string
                          drVehicleCheckID:
                            type: string
                          timeCreated:
                            type: string
                          timeUpdated:
                            type: string
                          driverName:
                            type: string
                          driverSignature:
                            type: string
                          tour:
                            type: string
                          checkStatus:
                            type: string
                          vehicleCheckItems:
                            type: array
                            items: 
                              type: object
                              properties:
                                drVehicleCheckItemID:
                                  type: string
                                timeCreated:
                                  type: string
                                timeUpdated:
                                  type: string
                                checkDescription:
                                  type: string
                                checkAnswer:
                                  type: string
                                checkComments:
                                  type: string
                                vehicleCheck:
                                  type: string
                                VehicleCheckItemPhotos:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      checkItemPhoto: 
                                        type: string
                                      vehicleCheckItem:
                                        type: string
                                      drVehicleCheckItemPhotoID: 
                                        type: string
                                      timeCreated: 
                                        type: string
                                      timeUpdated: 
                                        type: string
              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: time
              requestReceivedTime:
                type: string
                format: time
              maxAllowedRequestTime:
                type: integer 
              requestProcessingTime:
                type: string
                format: double
  
  /umLogout.json/:
    post:
      summary: Logout Remove InstallID against Logged in User
      description: Remove InstallID against Logged in User
      tags:
        - 0. User Management
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        - in: formData
          name: params[installID]
          type: string
          description: Notification Install ID
          required: true
        
      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: integer
              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: time
              requestReceivedTime:
                type: string
                format: time
              maxAllowedRequestTime:
                type: integer 
              requestProcessingTime:
                type: string
                format: double
                
        default:
          description: Failed Server Response
  
  /umStoreInstallID.json/:
    post:
      summary: Store Notification InstallID against Logged in User
      description: Store Notification InstallID against Logged in User
      tags:
        - 0. User Management
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        - in: formData
          name: params[installID]
          type: string
          description: Notification Install ID
          required: true
        
      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: integer
              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: time
              requestReceivedTime:
                type: string
                format: time
              maxAllowedRequestTime:
                type: integer 
              requestProcessingTime:
                type: string
                format: double
                
        default:
          description: Failed Server Response
  
  
  
  /umSendUserPushNotification.json/:
    post:
      summary: SendUserPushNotification
      description: SendUserPushNotification
      tags:
        - 0. User Management
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[email]
          type: string
          description: emailaddress of User
          required: true
        - in: formData
          name: params[backendIdentifier]
          type: string
          description: backendIdentifier
          required: true
        - in: formData
          name: params[navUserName]
          type: string
          description: navUserName
          required: true
        - in: formData
          name: params[notificationTitle]
          type: string
          description: notificationTitle
          required: true
        - in: formData
          name: params[notificationMessage]
          type: string
          description: notificationMessage
          required: true
        
      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: object
                properties: 
                  appId:
                    type: integer
                  source:
                    type: integer
                  status:
                    type: integer
                  filters: 
                    type: string
                  title:
                    type: string
                  message:
                    type: string
                  data:
                    type: string
                  updatedAt:
                    type: string
                    format: date-time
                  createdAt:
                    type: string
                    format: date-time
                  id:
                    type: integer
              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: time
              requestReceivedTime:
                type: string
                format: time
              maxAllowedRequestTime:
                type: integer 
              requestProcessingTime:
                type: string
                format: double
                
        default:
          description: Failed Server Response
  
  /umChangePassword.json/:
    post:
      summary: Change Password with forgotten password code
      description: Change Password with forgotten password code
      tags:
        - 0. User Management
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[email]
          type: string
          description: emailaddress of User
          required: true
        - in: formData
          name: params[password]
          type: string
          description: password
          required: true
        - in: formData
          name: params[changePasswordCode]
          type: string
          description: emailaddress of User
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        
      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: integer
              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: time
              requestReceivedTime:
                type: string
                format: time
              maxAllowedRequestTime:
                type: integer 
              requestProcessingTime:
                type: string
                format: double
                
        default:
          description: Failed Server Response
  
  /umForgottenPassword.json/:
    post:
      summary: Request forgotten password code
      description: Request forgotten password code
      tags:
        - 0. User Management
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[email]
          type: string
          description: emailaddress of User
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        
      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: integer
              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: time
              requestReceivedTime:
                type: string
                format: time
              maxAllowedRequestTime:
                type: integer 
              requestProcessingTime:
                type: string
                format: double
                
        default:
          description: Failed Server Response
  
  /umCreateNavUser.json/:
    post:
      summary: To create a user in HUB called from NAV system
      description: To create a user in HUB  called from NAV system
      tags:
        - 0. User Management
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[email]
          type: string
[...]
