swagger: '2.0'
info:
  version: '0.2'
  title: 'Airtable Groceries List'
  description: 'Airtable Groceries List'

host: api.airtable.com
basePath: /v0/appwEHI5Sf4k6reAh

schemes:
  - https
#securityDefinitions:
#  basicAuth:
#    type: basic

## To apply Basic auth to the whole API:
#security:
#  - basicAuth: []

paths:
  /Groceries:
    get:
      summary: Get Groceries List
      description: Get Groceries List
      tags:
        - 1. NASA Mars Rover
      parameters:
        - in: header
          name: Authorization
          type: string
          description: api key ('Bearer YOUR_API_KEY')
          required: true
        - in: query
          name: maxRecords
          type: string
          description: maximum number of records to retrieve
          required: true
        - in: query
          name: view
          type: string
          description: view type (e.g. 'List')
          required: true
      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              photos:
                type: array
                items:
                  type: object
                  properties:
                    camera:
                      type: object
                      properties:
                        full_name:
                          type: string
                        id:
                          type: string
                        name:
                          type: string
                    earth_date:
                      type: string
                    id:
                      type: string
                    img_src:
                      type: string
                    rover:
                      type: object
                      properties:
                        id:
                          type: string
                        landing_date:
                          type: string
                        launch_date:
                          type: string
                        name:
                          type: string
                        status:
                          type: string
                    sol:
                      type: string

        default:
          description: Failed Server Response
