{
  "swagger": "2.0",
  "info": {
    "version": "0.2",
    "title": "Services Directory",
    "description": "Services Directory"
  },
  "host": "x8ki-letl-twmt.n7.xano.io",
  "basePath": "/api:5sVwjuaK",
  "schemes": [
    "https"
  ],
  "paths": {
    "/efServicesDirectory": {
      "get": {
        "summary": "Get Services Directory",
        "description": "Get Services Directory",
        "tags": [
          "1. Airtable Service Accesses"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "type": "string",
            "description": "api key ('Bearer YOUR_API_KEY')",
            "required": true
          },
          {
            "in": "query",
            "name": "category",
            "type": "string",
            "description": "Category",
            "required": false
          },
          {
            "in": "header",
            "name": "searchText",
            "type": "string",
            "description": "Search Text",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                     "type": "string"
                  },
                  "description": {
                     "type": "string"
                  },
                  "category": {
                     "type": "string"
                  },
                  "serviceProvider": {
                     "type": "string"
                  },
                  "serviceProviderIcon": {
                     "type": "string"
                  },
                  "sampleUrl": {
                     "type": "string"
                  },
                  "explicitParams": {
                     "type": "array"
                     "items": {
                      "type: "string"
                     }
                  },
                  "fieldA": {
                     "type": "string"
                  },
                  "fieldB": {
                     "type": "string"
                  }
                  
                }
                
              }
            
              
            }
            
            
          },
          "default": {
            "description": "Failed Server"
          }
        }
      }
    },
    "/ServicesW": {
      "patch": {
        "summary": "update service accesses v1 - W",
        "description": "update service accesses v1 - W",
        "tags": [
          "1. Airtable Service Accesses"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "type": "string",
            "description": "api key ('Bearer YOUR_API_KEY')",
            "required": true
          },
          {
            "in": "path",
            "name": "recordId",
            "type": "string",
            "description": "record Id",
            "required": true
          },
          {
            "in": "body",
            "name": "data",
            "schema": {
              "type": "object",
              "properties": {
                "records": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "fields": {
                        "type": "object",
                        "properties": {
                          "Name": {
                            "type": "string"
                          },
                          "Key": {
                            "type": "string"
                          },
                          "Username": {
                            "type": "string"
                          },
                          "Password": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "description": "api key ('Bearer YOUR_API_KEY')",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.",
            "schema": {
              "type": "object",
              "properties": {
                "createdTime": {
                  "type": "string"
                },
                "fields": {
                  "type": "object",
                  "properties": {
                    "Name": {
                      "type": "string"
                    },
                    "Key": {
                      "type": "string"
                    },
                    "Username": {
                      "type": "string"
                    },
                    "Password": {
                      "type": "string"
                    }
                  }
                },
                "id": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Failed Server Response"
          }
        }
      }
    },
    "/Services/{recordId}": {
      "patch": {
        "summary": "update service accesses v2",
        "description": "update service accesses v2",
        "tags": [
          "1. Airtable Service Accesses"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "type": "string",
            "description": "api key ('Bearer YOUR_API_KEY')",
            "required": true
          },
          {
            "in": "path",
            "name": "recordId",
            "type": "string",
            "description": "record Id",
            "required": true
          },
          {
            "in": "body",
            "name": "data",
            "schema": {
              "type": "object",
              "properties": {
                "fields": {
                  "type": "object",
                  "properties": {
                    "Name": {
                      "type": "string"
                    },
                    "Key": {
                      "type": "string"
                    },
                    "Username": {
                      "type": "string"
                    },
                    "Password": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "api key ('Bearer YOUR_API_KEY')",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.",
            "schema": {
              "type": "object",
              "properties": {
                "createdTime": {
                  "type": "string"
                },
                "fields": {
                  "type": "object",
                  "properties": {
                    "Name": {
                      "type": "string"
                    },
                    "Key": {
                      "type": "string"
                    },
                    "Username": {
                      "type": "string"
                    },
                    "Password": {
                      "type": "string"
                    }
                  }
                },
                "id": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Failed Server Response"
          }
        }
      }
    }
  }
}
