swagger: '2.0'
info:
  version: '0.1'
  title: "TAPI Direct"
  description: "TAPI's hosted MS NAV environment"

consumes:
  - application/json
produces:
  - application/json

schemes:
  - https
securityDefinitions:
  basicAuth:
    type: basic

# To apply Basic auth to the whole API:
security:
  - basicAuth: []

host: masterdev.scinetcloud.net:17348
basePath: /TAPI_100_DEV/ODataV4

paths:
  /Company('{Name}')/MNCheckMyVan:
    parameters:
    - name: Name
      in: path
      required: true
      description: 'key: Name'
      type: string
    get:
      summary: Get entities from related MNCheckMyVan
      tags:
        - Company
      parameters:
        - name: "$top"
          in: query
          description: Show only the first n items, see [Paging - Top](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptiontop)
          type: integer
          minimum: 0
        - name: "$skip"
          in: query
          description: Skip the first n items, see [Paging - Skip](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionskip)
          type: integer
          minimum: 0
        - name: "$search"
          in: query
          description: Search items by search phrases, see [Searching](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionsearch)
          type: string
        - name: "$filter"
          in: query
          description: Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)
          type: string
        - name: "$count"
          in: query
          description: Include count of items, see [Count](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptioncount)
          type: boolean
        - name: "$orderby"
          in: query
          description: Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)
          type: array
          uniqueItems: true
          items:
            type: string
            enum:
            - Resource_No
            - Resource_No desc
            - Booking_Date
            - Booking_Date desc
            - Entry_No
            - Entry_No desc
            - Completed
            - Completed desc
            - All_Mandatory_Filled
            - All_Mandatory_Filled desc
            - Answer_Group_No
            - Answer_Group_No desc
            - FieldControl
            - FieldControl desc
            - ETag
            - ETag desc
        - name: "$select"
          in: query
          description: Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)
          type: array
          uniqueItems: true
          items:
            type: string
            enum:
            - Resource_No
            - Booking_Date
            - Entry_No
            - Completed
            - All_Mandatory_Filled
            - Answer_Group_No
            - FieldControl
            - ETag
      responses:
        '200':
          description: Retrieved entities
          schema:
            title: Collection of MNCheckMyVan
            type: object
            properties:
              value:
                type: array
                items:
                  type: object
                  properties:
                    Resource_No:
                      type: string
                    Booking_Date:
                      type: string
                      format: date-time
                      example: '2017-04-13T15:51:04Z'
                    Entry_No:
                      type:
                      - integer
                      - 'null'
                      format: int32
                    Completed:
                      type:
                      - boolean
                      - 'null'
                    All_Mandatory_Filled:
                      type:
                      - boolean
                      - 'null'
                    Answer_Group_No:
                      type:
                      - string
                      - 'null'
                      example: string
                    FieldControl:
                      type:
                      - string
                      - 'null'
                      example: string
                    ETag:
                      type:
                      - string
                      - 'null'
                      example: string
        '400':
          type: object
          required:
          - error
          properties:
            error:
              type: object
              required:
              - code
              - message
              properties:
                code:
                  type: string
                message:
                  type: string
                target:
                  type: string
                details:
                  type: array
                  items:
                    type: object
                    required:
                    - code
                    - message
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                      target:
                        type: string
                innererror:
                  type: object
                  description: The structure of this object is service-specific