swagger: '2.0'
info:
  version: '0.2'
  title: 'Xano - Cotham-HGKC Exec ROI Tracker'
  description: 'Xano - Cotham-HGKC Exec ROI Tracker'

host: x8ki-letl-twmt.n7.xano.io
basePath: /api:teyCcXuL

schemes:
  - https
#securityDefinitions:
#  basicAuth:
#    type: basic

## To apply Basic auth to the whole API:
#security:
#  - basicAuth: []

paths:
  /auth/login:
    post:
      summary: Login
      description: Login
      tags:
        - 1. Xano - Cotham-HGKC Exec ROI Tracker
      parameters:        
        - in: query
          name: email
          type: string
          description: user email address
          required: true
        - in: query
          name: password
          type: string
          description: user password
          required: true
      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              authToken:
                type: string
                       
        default:
          description: Failed Server
          
  /auth/me:
    get:
      summary: Get Me Info
      description: Get Me Info
      tags:
        - 1. Xano - Cotham-HGKC Exec ROI Tracker
      parameters:        
        - in: header
          name: authorization
          type: string
          description: authorization token
          required: true
      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              created_at:
                type: string
              email:
                type: string
              id:
                type: integer
              name:
                type: string
              firstName:
                type: string
              lastName:
                type: string
              _organisation:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  logo:
                    type: string
                  programmeLogo:
                    type: string
              modules_id:
                type: array
                items:
                  type: string
              active_module_id:
                type: string
                       
        default:
          description: Failed Server 
          
  /feedback:
    get:
      summary: Get List of Feedback items
      description: Get List of Feedback items
      tags:
        - 1. Xano - EF Spotter
      parameters:        
        - in: header
          name: authorization
          type: string
          description: authorization token
          required: true
        - in: query
          name: user_id
          type: string
          description: user id
          required: true
        - in: query
          name: priorityCategories_id
          type: string
          description: priority categories id
          required: true
      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: string
                created_at:
                  type: string
                score:
                  type: string
                describeText:
                  type: string
                reasonScoreText:
                  type: string
                reflectionText:
                  type: string
                       
        default:
          description: Failed Server
          
  /user/{user_id}:
    get:
      summary: Get User Record
      description: Get User Record
      tags:
        - 1. Xano - EF Spotter
      parameters:        
        - in: header
          name: authorization
          type: string
          description: authorization token
          required: true
        - in: path
          name: user_id
          type: integer
          description: user id
          required: true
      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              email:
                type: string
              firstName:
                type: string
              lastName:
                type: string
              id:
                type: integer
              name:
                type: string
              organisation_id:
                type: integer
              priorities_id:
                type: array
                items:
                  type: object
                  properties:
                    created_at:
                      type: string
                    id:
                      type: integer
                    name:
                      type: string
                    prioritycategories_id:
                      type: array
                      items:
                        type: object
                        properties:
                          created_at:
                            type: string
                          id:
                            type: integer
                          name:
                            type: string
                          describeQuestion:
                            type: string
                          scoreQuestion:
                            type: string
                          reasonsScoreQuestion:
                            type: string
                          reflectionQuestion:
                            type: string
                          360Question:
                            type: string
        default:
          description: Failed Server


          # delete:
    #   summary: Update user info (to update active module)
    #   description: Update user info (to update active module)
    #   tags:
    #     - 1. Xano - EF Spotter
    #   parameters:        
    #     - in: header
    #       name: authorization
    #       type: string
    #       description: authorization token
    #       required: true
    #     - in: path
    #       name: user_id
    #       type: integer
    #       description: authorization token
    #       required: true
    #     - in: query
    #       name: name
    #       type: string
    #       description: name
    #       required: true
    #     - in: query
    #       name: email
    #       type: string
    #       description: name
    #       required: true
    #     - in: query
    #       name: active_module_id
    #       type: number
    #       description: authorization token
    #       required: true
    #   responses:
    #     200:
    #       description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
    #       schema:
    #         type: object
    #         properties:
    #           user_id:
    #             type: integer
    #           latitude:
    #             type: number
    #           image:
    #             type: string
    #           notes:
    #             type: string
    #           cars_id:
    #             type: integer
    #           colors_id:
    #             type: integer
    #     default:
    #       description: Failed Server
          
          
  /modules:
    get:
      summary: Get Modules
      description: Get Modules
      tags:
        - 1. Xano - EF Spotter
      parameters:        
        - in: header
          name: authorization
          type: string
          description: authorization token
          required: true
        - in: query
          name: modules_id
          type: integer
          description: the id of the required module
          required: true
        - in: query
          name: user_id
          type: integer
          description: the user id (not planned to be used here however)
          required: true
      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: integer
                created_at:
                  type: string
                name:
                  type: string
                module_items_id:
                  type: string
        default:
          description: Failed Server
          
          
  /module_items:
    get:
      summary: Get Module Items
      description: Get Module Items (e.g. cat, dog, fox) for a given module (e.g. animals)
      tags:
        - 1. Xano - EF Spotter
      parameters:        
        - in: header
          name: authorization
          type: string
          description: authorization token
          required: true
        - in: query
          name: modules_id
          type: integer
          description: the id of the required module
          required: true
        - in: query
          name: user_id
          type: integer
          description: the user id (not planned to be used here however)
          required: true
      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: integer
                created_at:
                  type: string
                category:
                  type: string
                primaryIdentifier:
                  type: string
                secondaryIdentifier:
                  type: string
                image:
                  type: string
                points:
                  type: string
        default:
          description: Failed Server
          
          
          
          
  /sightings:
    get:
      summary: Get Sightings
      description: Get Sightings
      tags:
        - 1. Xano - EF Spotter
      parameters:        
        - in: header
          name: authorization
          type: string
          description: authorization token
          required: true
        - in: query
          name: user_id
          type: integer
          description: authorization token
          required: true
      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: integer
                user_id:
                  type: integer
                latitude:
                  type: number
                image:
                  type: string
                notes:
                  type: string
                cars_id:
                  type: integer
                colors_id:
                  type: integer
                module_item_id:
                  type: integer
                created_at:
                  type: string
                _module_items:
                  type: object
                  properties:
                    category:
                      type: string
                    primaryIdentifier:
                      type: string
                    secondaryIdentifier:
                      type: string
                    points:
                      type: integer
                _cars:
                  type: object
                  properties:
                    Make:
                      type: string
                    Model:
                      type: string
                    created_at:
                      type: string
                    id:
                      type: integer
        default:
          description: Failed Server
         
    post:
      summary: Post a Sighting
      description: Post a Sighting
      tags:
        - 1. Xano - EF Spotter
      parameters:        
        - in: header
          name: authorization
          type: string
          description: authorization token
          required: true
        - in: query
          name: user_id
          type: integer
          description: authorization token
          required: true
        - in: query
          name: latitude
          type: number
          description: authorization token
          required: true
        - in: query
          name: longitude
          type: number
          description: authorization token
          required: true
        - in: query
          name: image
          type: string
          description: authorization token
          required: true
        - in: query
          name: notes
          type: string
          description: authorization token
          required: true
        - in: query
          name: module_items_id
          type: integer
          description: authorization token
          required: true
        - in: query
          name: cars_id
          type: integer
          description: authorization token
          required: true
        - in: header
          name: colors_id
          type: integer
          description: authorization token
          required: true
      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              user_id:
                type: integer
              latitude:
                type: number
              image:
                type: string
              notes:
                type: string
              cars_id:
                type: integer
              colors_id:
                type: integer
        default:
          description: Failed Server
          
          
  /user:
    get:
      summary: Get Users
      description: Get Users
      tags:
        - 1. Xano - EF Spotter
      parameters:        
        - in: header
          name: authorization
          type: string
          description: authorization token
          required: true
      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: integer
                name:
                  type: number
                email:
                  type: string
                active_module_id:
                  type: string
                _modules_id_items:
                  type: array
                  items:
                    type: string
        default:
          description: Failed Server
        
    
